<nav class="switcher">
  <ul class="switcher__list">
    <li class="switcher__item">
      {{#linkTo "about.project-description"}}Project Description{{/linkTo}}
    </li>
    <li class="switcher__item">
      {{#linkTo "about.glossary"}}Glossary{{/linkTo}}
    </li>
  </ul>
</nav>