<div style="width: 100% !important">


  <div class={{className}}>
    <select id={{idSelect}} class="p-2"></select>
    {{#if reset }}
    <button class="btn btn-outline-secondary text-uppercase" {{action "reset"}} style="padding: 0 20px;">Reset</button>
    {{/if}}
  </div>


</div>
