<div>

  <div class="d-flex justify-content-around mt-5 pt-5">
    <p class="text-white flex-grow-1 pr-5" style="min-width: 150px;">DEPARTAMENTO </p>
    <select class="flex-grow-8" id="departmentSelect" style="width: 100%"></select>
    <button class="ml-5 btn btn-outline-secondary flex-grow-1" {{action "filterDepartment"}}>FILTRAR</button>
  </div>

  <div class="d-flex justify-content-around mt-5 pt-5">
    <p class="text-white flex-grow-1 pr-5" style="min-width: 150px;">CIUDAD </p>
    <select class="flex-grow-8" id="citySelect" style="width: 100%"></select>
    <button class="ml-5 btn btn-outline-secondary flex-grow-1" {{action "filterCity"}}>FILTRAR</button>
  </div>

</div>
