<div class="buildermod__drawer buildermod__drawer--settings">
  <div class="settings__input__wrap">
    <label for="settings__slider--time" class="settings__slider">Change time period:</label>
      {{input-slider
        elementId="settings__slider--time"
        type="time"
        years=years
        startDate=startDate
        endDate=endDate
        newStartDate=newStartDate
        newEndDate=newEndDate
        dateRange=dateRange
      }}
  </div>
</div>

