<form class="buildermod__drawer buildermod__drawer--settings">
  <fieldset class="settings__input__wrap">
      {{input-time-selects
        elementId="settings__input--time"
        type="time"
        startDate=startDate
        endDate=endDate
        newStartDate=newStartDate
        newEndDate=newEndDate
        dateExtent=dateExtent
        dateRange=dateRange
      }}
  </fieldset>
</form>

