<label for="settings__input--time" class="settings__input">{{t 'graph_builder.settings.change_time'}}</label>
{{view "select" class="settings__input--select" content=dateRange value=startDate}}
<span class="settings__input__text">to</span>
{{view "select" class="settings__input--select" content=dateRange value=endDate}}
