<div  class='row'>
  
</div>
<div class="row justify-content-center mb-5">
  <button id="multiples__btn--showall" {{action 'showAll'}} {{bind-attr class=":btn :btn-outline-secondary :btn-lg :text-uppercase :d-none hasMore:d-block :mr-3"}}>
    {{t 'graph_builder.multiples.show_all'}}
  </button>
</div>

