<div class="search__result__text">
  <p class="search__result__breadcrumb">{{breadcrumb}}</p>
  <p class="search__result__name" data-search-result-name>{{name}}</p>
</div>
{{link-to
  'Profile' profileLink result.id
  data-search-profile=''
  class="btn search__btn search__btn--result"
}}
{{link-to
  'Graph Builder' 'visualization' entity_and_id source 'treemap'
  data-search-graph-builder=''
  class="btn search__btn search__btn--result"
  }}
