<div class="results__text">
  <p class="results__breadcrumb">{{breadcrumb}}</p>
  <p class="results__name" data-search-result-name>{{name}}</p>
</div>
{{#if hasProfile }}
  {{#link-to
    profileLink result.id
    data-search-profile=''
    class="btn btn--standalone btn--search results__btn"
  }}
    {{ t 'pageheader.profile_link' }}
  {{/link-to}}
{{/if}}

{{#link-to
  'visualization' entity_and_id source 'multiples'
  data-search-graph-builder=''
  class="btn btn--standalone btn--search results__btn"
}}
  {{ t 'pageheader.graph_builder_link' }}
{{/link-to}}

