<li class="search__result">
  <div class="search__result__text">
    <p class="search__result__breadcrumb">{{breadcrumb}}</p>
    <p class="search__result__name">{{name}}</p>
  </div>
    {{link-to 'Profile' profileLink result.id  class="button search__button search__button--result"}}
    {{link-to 'Graph Builder' 'graph_builder' (query-params entity=entity entity_id=result.id)  class="button search__button search__button--result"}}
</li>



