{{!-- Menu for places --}}
<div class="stream___head__menu">
  <div class="menu__section menu__section__thin">
    <h5>Overview</h5>
    <ul>
      <li class="active">Profile</li>
    </ul>
  </div>
  <div class="menu__section">
    <h5>Industries</h5>
    <ul>
      <li>Space</li>
      <li>Employment</li>
      <li>Potential</li>
      <li>Wages</li>
    </ul>
  </div>
  <div class="menu__section">
    <h5>Products</h5>
    <ul>
      <li>Space</li>
      <li>Imports</li>
      <li>Potential</li>
      <li>Exports</li>
    </ul>
  </div>
</div>

{{!-- Menu for industries --}}
<div class="stream___head__menu">
  <div class="menu__section menu__section__thin">
    <h5>Overview</h5>
    <ul>
      <li>Profile</li>
    </ul>
  </div>
  <div class="menu__section">
    <h5>Locations</h5>
    <ul>
      <li>Employment</li>
      <li>Wages</li>
    </ul>
  </div>
  <div class="menu__section">
    <h5>Occupations</h5>
    <ul>
      <li class="active">Employment</li>
    </ul>
  </div>
</div>

{{!-- Menu for products --}}
<div class="stream___head__menu">
  <div class="menu__section menu__section__thin">
    <h5>Overview</h5>
    <ul>
      <li>Profile</li>
    </ul>
  </div>
  <div class="menu__section">
    <h5>Departments</h5>
    <ul>
      <li  class="active">Imports</li>
      <li>Exports</li>
    </ul>
  </div>
  <div class="menu__section">
    <h5>Cities</h5>
    <ul>
      <li>Imports</li>
      <li>Exports</li>
    </ul>
  </div>
</div>