<div class="table__cell--rank">
  {{#link-to 'rankings'}}
    {{#if isEmpty}}
      <div class='value'>
        N/A
      </div>
    {{else}}
      <div class={{if isTop 'value top' 'value'}}>
        #{{rank}}
      </div>
    {{/if}}
  {{/link-to}}
</div>
