<div class="table__cell--rank">
  {{#link-to 'rankings'}}
    <div class={{if isTop 'value top' 'value'}}>
      #{{rank}}
    </div>
  {{/link-to}}
</div>

<!-- example of how to show N/A values. To be removed! -->
<div class="table__cell--rank">
  {{#link-to 'rankings'}}
    <div class="value na">
      n/a
    </div>
  {{/link-to}}
</div>
<!-- end example -->