<div class="buildermod__legend">
	{{#each key in legend}}
		<div class="buildermod__legend__item">
	  		{{visualization-legend-key key=key active=activeKey action='changeKey'}}
	  	</div>
	{{else}}
	{{/each}}
</div>
