<div class='explanation'>
  <h4 class='explanation__title'>{{t 'graph_builder.explanation'}}</h4>
  <div {{bind-attr class=':explanation__copy :explanation__copy--show'}}>
    <p class='explanation__p'>{{text}}</p>
  </div>
</div>

