<div class="buildermod__legend geo__legend">
	{{#each key in legend}}
		<div class="buildermod__legend__item">
            <i class="fa fa-circle" class={{key.class}}></i> {{key.start}} - {{key.end}}
	  	</div>
	{{else}}
	{{/each}}
</div>
