{{yield}}
<div class="row mb-5">
    <div class="col-lg-12">
        <div class="text-right">
            <button type="button" class="btn btn-outline-secondary" {{action 'savePng'}}><i class="fas fa-file-image mr-3"></i>Descargar grafico</button>
            <button type="button" class="btn btn-outline-secondary" {{action 'savePdf'}}><i class="fas fa-file-pdf mr-3"></i>Descargar grafico</button>
        </div>
    </div>
</div>
