/**
*
* Are Chart Small Multiples
*
**/

.multiples {
  display: flex;
  flex-wrap: wrap;
}

.multiple {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33.333333333%;
  &:nth-of-type(3n+1) {
    padding: 0 $baseSpace*0.75 $baseSpace 0;
  }
  &:nth-of-type(3n+2) {
    padding: 0 $baseSpace*0.5 $baseSpace;
  }
  &:nth-of-type(3n) {
    padding: 0 0 $baseSpace $baseSpace*0.75;
  }
}

@media (min-width: 1600px) {
  .multiple {
    width: 25%;
    &:nth-of-type(4n+1) {
      padding: 0 $baseSpace*0.75 $baseSpace 0;
    }
    &:nth-of-type(4n+2) {
      padding: 0 $baseSpace*0.5 $baseSpace $baseSpace*0.25;
    }
    &:nth-of-type(4n+3) {
      padding: 0 $baseSpace*0.25 $baseSpace $baseSpace*0.5;
    }
    &:nth-of-type(4n) {
      padding: 0 0 $baseSpace $baseSpace*0.75;
    }
  }
}

.chart__title {
  font-weight: 500;
  font-size: $fontSmall;
  position: relative;
  &:hover:before {
    color: $colorGray;
  }
}

.chart__title--is--expanded {
  max-height: none;
  &:before, &:after {
    display: none;
  }
}

.chart__wrap {
  font-size: $fontTiny;
  text {
    fill: $colorGrayDark;
  }
}

.multiples__btn--showall {
  margin: 0 auto;
  display: none;
}

.multiples__btn--showall--is--relevant {
  display: block;
}

.chart__tooltip--edge--start {
  text-anchor: start;
}

.chart__tooltip--edge--end {
  text-anchor: end;
}

.background {
  fill: $odGrayLight;
  pointer-events: all;
}

.tabmod__card .background {
  fill: $colorBrown200;
}

.area {
  pointer-events: none;
}

.line {
  fill: none;
  pointer-events: none;
}

.axis {
  path {
    fill: none;
    pointer-events: none;
  }
}

.axis--y {
  line {
    stroke: $odGrayMedDark;
    fill: none;
    shape-rendering: crispEdges;
    pointer-events: none;
  }
}

.marker {
  fill: #444;
}

.caption, .year, .marker {
  pointer-events: none;
}

.hidden {
  opacity: 0;
}
