/**
*
* Dot plot
*
**/

// Nested here instead of giving ever el a class in the js
.dotplot {
  position: relative;

  .items__mark__diamond {
    fill: $colorGray;
    opacity: .3;
  }

  .items__mark__diamond.preselected {
    stroke: $colorRed;
    fill: $colorRed;
    opacity: 1;
  }

  .items__mark__diamond.highlighted {
    stroke: $colorGray;
    opacity: 1;
   }

  .items__mark__tick {
    stroke-width: 10px;
    opacity: 1;
  }

  .items__mark__text {
    font-weight: 300;
    font-size: 1.4rem;
  }

  .axis > .label {
    display: none;
  }

  .axis > .domain {
    stroke: $colorGray;
    stroke-dasharray: 1,1;
    stroke-width: .5px;
  }

  .tick > text {
    font-weight: 300;
    font-size: 1.4rem;
  }

}
