/**
*
* Dot plot
*
**/

// Nested here instead of giving ever el a class in the js
.dotplot {

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .label {
    display: none;
  }

  .tick {
    display: none;
    &:first-of-type, &:last-of-type {
      display: block;
    }
  }

  .tick .text {
    display: none;
  }

  // TODO: Rename .dotLabels in vistk
  .dotsLabels {
    display: none;
  }

  .points:hover .dotsLabels {
    display: block;
  }

}
