/**
*
* Dot plot
*
**/

// Nested here instead of giving ever el a class in the js
.dotplot {
  position: relative;

  .items__mark__diamond {
    fill: gray;
    opacity: .1;
  }

  .items__mark__diamond.preselected {
    fill: $odGreen;
    opacity: 1;
  }

  .items__mark__diamond.highlighted {
    stroke: black;
    opacity: 1;
   }

  .items__mark__text {
    font-weight: 300;
    font-size: 1.4rem;
  }

  .axis > .label {
    display: none;
  }

  .axis > .domain {
    stroke: #000;
    stroke-dasharray: 1,1;
    stroke-width: .5px;
  }

  .tick > text {
    font-weight: 300;
    font-size: 1.4rem;
  }

}
