/**
*
* Geomap
*
**/

// Nested here instead of giving ever el a class in the js
.geo__wrap {
  height: 100%;
  padding: 0;

  svg {
    position: relative;
  }

  path {
    fill: #000;
    fill-opacity: .1;
    stroke: #fff;
    stroke-width: 1px;
  }

  path:hover {
    fill: brown;
    fill-opacity: .7;
  }

  /*.q0-9{fill:rgb(247,251,255)}*/
  .q1-9{fill:rgb(222,235,247)}
  .q2-9{fill:rgb(198,219,239)}
  .q3-9{fill:rgb(158,202,225)}
  .q4-9{fill:rgb(107,174,214)}
  .q5-9{fill:rgb(66,146,198)}
  .q6-9{fill:rgb(33,113,181)}
  .q7-9{fill:rgb(8,81,156)}
  .q8-9{fill:rgb(8,48,107)}

}


// Leaflet styling to fix image paths
.leaflet-container.dark .map-tooltip .close,
.leaflet-control-attribution:after,
.leaflet-control-layers-toggle,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-popup-close-button,
.map-tooltip .close,
.mapbox-icon {
  background-image: url(img/geo/icons-000000@2x.png);
}
