/**
*
* Geomap
*
**/

// Nested here instead of giving ever el a class in the js
.geo__wrap {
  height: 80rem;
  padding: 0;
  background: $colorBase;

  svg {
    position: relative;
  }

  .leaflet-control-attribution {
    display: none;
    padding: 5px 7px;
    background: $colorWhite;
    color: $colorGrayLighter;
    font-family: $sans;
    font-weight: 300;
  }

  .leaflet-overlay-pane {
    mix-blend-mode: multiply;
  }

  .geo__department {
    fill: $colorWhite;
    stroke: $colorWhite;
    stroke-width: 1px;
  }

  // If the value of the data is exactly 0
  .q0 {
    fill: $colorSecondary;
  }

  // The scale if the value is positive
  .q0-5 {
    fill: $colorGreenQ0-5;
  }
  .q1-5 {
    fill: $colorGreenQ1-5;
  }
  .q2-5 {
    fill: $colorGreenQ2-5;
  }
  .q3-5 {
    fill: $colorGreenQ3-5;
  }
  .q4-5 {
    fill: $colorGreenQ4-5;
  }
}

.q0-5 {
    color: $colorGreenQ0-5;
}
.q1-5 {
    color: $colorGreenQ1-5;
}
.q2-5 {
    color: $colorGreenQ2-5;
}
.q3-5 {
    color: $colorGreenQ3-5;
}
.q4-5 {
    color: $colorGreenQ4-5;
}


.geo__legend {
    margin-left: 6rem;
}


// Leaflet styling to fix image paths
.leaflet-container.dark .map-tooltip .close,
.leaflet-control-attribution:after,
.leaflet-control-layers-toggle,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-popup-close-button,
.map-tooltip .close,
.mapbox-icon {
  background-image: url(img/geo/icons-000000@2x.png);
}

.mapbox-logo {
  display: none;
}

.leaflet-left .leaflet-control {
  margin: 0 0 $baseSpace*1.5 $baseSpace*1.5;
}

.leaflet-bar {
  border: none;
  border-radius: 0;
}

.leaflet-container .leaflet-control-attribution a {
  font-weight: 300;
  color: $colorGrayLight;
}

.geo_background{
  background: $colorBase;
}
