/**
*
* Product space, industry space
*
**/

.node--is--highlighted {
  r:3.5;
  stroke: $colorGray;
  stroke-width: 1px;
}

.connect__line {
  stroke: $colorGrayLight;
  stroke-opacity: 1;
}

.connect__line.highlighted {
  stroke: $colorRed;
  stroke-width: 2px;
}

.items__mark__circle.highlighted__adjacent {
  r: 3.5;
  stroke-width: 1px;
  stroke: $colorRed500;
}


// Tooltip
.items__mark__divtext__tooltip {
  background: $colorWhite;
  height: 100%;
  padding: $baseSpace/2;
  width: auto !important;
  height: auto !important;
  z-index: $zIndex-9;
  max-width: 30rem;
  font-size: $fontTiny;
  &:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid black;
    left: -8px;

    top: 7px;
  }
}

