/**
*
* Product space, industry space
*
**/

.items__mark__circle {
  stroke: $colorGray;
  fill: #f7f7f7;
  stroke-width: 1px;
}

.node--is--highlighted {
  stroke: $colorBlack;
  stroke-width: 1px;
}

.connect__line {
  stroke: $colorGray;
  opacity: .5;
  stroke-opacity: .5;
}

.connect__line.highlighted {
  stroke: $colorRed;
  stroke-width: 4px;
  opacity: 1;
  stroke-opacity: 1;
}

.items__mark__circle {
  fill: $colorBrown500;
}

.items__mark__circle.highlighted,
.items__mark__circle.highlighted__adjacent {
  stroke-width: 3px;
  stroke: $colorBlack;
}

.items__mark__circle.selected,
.items__mark__circle.selected__adjacent {
  stroke-width: 3px;
  stroke: $colorBlack;
}

.items__mark__circle.highlighted.node--is--highlighted,
.items__mark__circle.highlighted__adjacent.node--is--highlighted {
  stroke: $colorBlack;
}
