/**
*
* Product Space
*
**/

.connect__line {
  stroke: #E1DCD6;
  stroke-opacity: .4;
}

.items__mark__star {
  fill: yellow;
  stroke-width: .5px;
  stroke: black;
}

.items__mark__star.selected {
  stroke-width: 1px;
}

.items__mark__star.highlighted {
  fill: yellow;
  stroke-width: 1.5px;
}

.items__mark__circle {
  fill: #CCC1B9;
}

.items__mark__circle.highlighted {
  fill: #191914;  
  stroke: black;
  stroke-width: 1.5px;
}

.items__mark__circle.selected {
  fill: #EA413D;
}
