/**
*
* Scatterplot
*
**/

.scatterplot{
  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
  }

  .grid path {
    stroke-width: 0;
  }
}
