/**
*
* Scatterplot
*
**/

.scatterplot{
  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
  }

  .grid path {
    stroke-width: 0;
  }

  .axis__label {
    font-size: inherit;
  }

  .mark__line_horizontal {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
    stroke-dasharray: 5,5;
    opacity: 1;
  }
}

.axis{
  fill: white;
}
