/**
*
* Similarity Maps
*
**/


.connect__line {
  stroke: $colorGrayLight;
  stroke-opacity: .6;
}

.connect__line.highlighted {
  stroke-width: 3px;
  stroke: $colorGray;
  stroke-opacity: 1;
}

.items__mark__circle {
  stroke: $colorBlack;
  stroke-width: 0;
}

.items__mark__circle.highlighted {
  fill: #191914;
  stroke: black;
}

.items__mark__circle.selected {
  fill: #EA413D;
}

.items__mark__circle.highlighted__adjacent {
  opacity: 1;
  stroke-width: 1px;
  stroke: $colorGray;
}

text {
  font-size: $fontTiny;
}

.items__mark__star {
  fill: #CBC0B8;
  stroke-width: .5px;
  stroke: red;
  transform: scale(0.5);
}

.items__mark__star.selected {
  stroke-width: 1px;
}

.items__mark__star.highlighted {
  fill: yellow;
  stroke-width: 1.5px;
}

.legend_group {
  text {
    font-size: 1.4rem;
  }
}

.items__mark__divtext__tooltip {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    height: 100%;
    color: #fff;
    padding: 5px 15px;
    z-index: 9999;
    width: 220px;
}


