/**
*
* Spark line
*
**/

// Nested here instead of giving every el a class in the js
.sparkline {

  display: inline-block;

  .connect__path {
    fill: none;
    stroke: #000;
    stroke-width: .5px;
  }

  .items__mark__diamond {
    fill: gray;
    opacity: .1;
  }
  
  .items__mark__diamond.selected {
    stroke: #EBE6E3;
    fill: red;
    opacity: 1;
  }

  .items__mark__diamond.highlighted {
    stroke: black;
    opacity: 1;
   }

  .items__mark__text {
    font-weight: 300;
    font-size: 1.4rem;
  }

}
