/**
*
* Treemap
*
**/

// Nested here instead of giving ever el a class in the js
.vizmod--treemod {
  width: 100%;
}

.tree-map {
  position: relative;
  stroke-width: 0.5px;

  text {
    font-family: $serif !important;
    fill: $colorGrayDark !important;
    font-weight: 300 !important;
  }


  &--title{
    font-size: $fontSmall;
    line-height: 1.25em;
    padding: 4px;
    text-overflow: clip !important;
    font-family: $sans;
    font-weight: 400;
    pointer-events: none;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
