<p>CASO 23</p>

<div class="container-fluid px-md-x10 pb-5">
  <div class="text-right">
    {{#link-to 'location.productmap' model.id
      class="btn btn-outline-secondary"
    }}
    ANTERIOR
    {{/link-to}}
  </div>
</div>