/**
*
* Font-face
* Include any font-face declarations here. Note that fontawesome is declared in vendor/css.
* Only use woff2 and woff, re: http://davidensinger.com/2014/10/update-your-font-face-file-formats-to-just-use-woff-and-woff2/
**/

/* ==========  CIDcons  ========== */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);

@font-face {
  font-family: 'cidcons';
  src: url('../fonts/cidcons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-cidcon_"]:before, [class*=" icon-cidcon_-"]:before {
  font-family: 'cidcons';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  @include offset-text;
}


/* ==========  Platform  ========== */

@font-face {
  font-family: 'Platform Web';
  src: url('../fonts/Platform-Bold-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* ==========  Circular  ========== */

@font-face {
  font-family: 'Circular';
  src: url('../fonts/circular-light.woff2') format('woff2'),
       url('../fonts/circular-light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('../fonts/circular-book.woff2') format('woff2'),
       url('../fonts/circular-book.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('../fonts/circular-medium.woff2') format('woff2'),
       url('../fonts/circular-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('../fonts/circular-bold.woff2') format('woff2'),
       url('../fonts/circular-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* ==========  Plantin  ========== */

@font-face {
  font-family: 'Plantin';
  src: url('../fonts/PlantinMTStd-Light.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Plantin';
  src: url('../fonts/PlantinMTStd-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Plantin';
  src: url('../fonts/PlantinMTStd-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Plantin';
  src: url('../fonts/PlantinMTStd-Semibold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

