/**
*
* Color palette
*
**/

/* ==========  Color Palettes  ========== */

$colorBlack: rgb( 25, 25, 20 );
$colorGrayDark: rgb( 83, 83, 79 );
$colorGray: rgb( 140, 140, 138 );
$colorGrayLight: rgb( 198, 198, 196 );
$colorGrayLighter: rgb( 221, 221, 220 );
$colorGrayLightest: rgb( 232, 232, 232 );
$colorWhite: rgb( 240, 240, 240 );

$colorBrown100: rgb( 245, 243, 241 );
$colorBrown200: rgb( 235, 230, 227 );
$colorBrown300: rgb( 224, 218, 213 );
$colorBrown400: rgb( 214, 205, 199 );
$colorBrown500: rgb( 204, 193, 185 );
$colorBrown600: rgb( 194, 181, 171 );
$colorBrown700: rgb( 184, 168, 157 );
$colorBrown800: rgb( 173, 156, 143 );
$colorBrown900: rgb( 163, 143, 129 );
$colorBrown: rgb( 153, 131, 115 );

// $colorNavy100: rgb( 245, 243, 241 );
$colorNavy200: rgb( 204, 204, 214 );
// $colorNavy300: rgb( 224, 218, 213 );
$colorNavy400: rgb( 154, 153, 172 );
// $colorNavy500: rgb( 204, 193, 185 );
$colorNavy600: rgb( 103, 102, 131 );
// $colorNavy700: rgb( 184, 168, 157 );
$colorNavy800: rgb( 53, 51, 89 );
// $colorNavy900: rgb( 163, 143, 129 );
$colorNavy: rgb( 2, 0, 48 );


/* ==========  Breakpoints  ========== */

$small: 38rem !default;
$medium: 62rem !default;
$large: 80rem !default;
$huge: 160rem !default;


/* ==========  Fonts  ========== */

// Icon font family
$fontIcon: 'icons' !default;

// Defining font sizes
$fontTiny: 1.3rem !default;
$fontSmall: 1.6rem  !default;
$fontBase: 2rem !default;
$fontLarge: 2.6rem !default;
$fontXLarge: 4.2rem !default;
$fontXXLarge: 6.8rem !default;
$fontHuge: 11rem !default;


/* ==========  Spacing  ========== */

$baseSpace: 2.6rem !default;


/* ==========  Animation  ========== */

$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;


/* ==========  Layout  ========== */

$sidebarWidth: $baseSpace * 6;


/* ==========  Z-index  ========== */

$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;
