/**
*
* Color palette
*
**/

/* ==========  Type Palette  ========== */

$icon: 'FontAwesome';
$sans: 'RF Rufo', sans-serif;  // 'Alegreya Sans', Arial, sans-serif;
$sansAlt: $sans;
$sansSC: 'Alegreya Sans SC', Arial, sans-serif;
$serif: 'Alegreya', 'Times New Roman', Georgia, serif;  // 'Bitter', serif; // 'Source Serif Pro', Georgia, serif;
$serifSC: 'Alegreya SC', Georgia, serif;

/* ==========  Color Palettes  ========== */

$colorBase: #292A48;
$colorYellow: #FFCD00;
$colorSecondary: #C2C4FF;
$colorThree: #7C7EAC;

$colorBlack: rgb( 25, 25, 20 );
$colorGrayDark: rgb( 83, 83, 79 );
$colorGray: rgb( 140, 140, 138 );
$colorGrayLight: rgb( 198, 198, 196 );
$colorGrayLighter: rgb( 221, 221, 221 );
$colorGrayLightest: rgb( 236, 236, 236 );
$colorWhite: rgb( 255, 255, 255 );

// Accents/highlights
$colorRed: rgb( 238, 64, 54 );
$colorGreen: rgb( 238, 252, 206 );
$colorRedDark: #B31B12;

// Scales
// Are these greys now?
$colorBrown: 	rgb(54, 54, 54);		//replacing rgb( 153, 131, 115 );
$colorBrown900: $colorGrayDark; 		//replacing rgb( 163, 143, 129 );
$colorBrown800: $colorGray; 			//replacing rgb( 173, 156, 143 );
$colorBrown700: rgb( 169, 169, 169); 	//replacing rgb( 184, 168, 157 );
$colorBrown600: $colorGrayLight; 		//replacing rgb( 194, 181, 171 );
$colorBrown500: rgb( 210, 210, 210 ); 	//replacing rgb( 204, 193, 185 );
$colorBrown400: $colorGrayLighter; 		//replacing rgb( 214, 205, 199 );
$colorBrown300: rgb( 229, 229, 229 ); 	//replacing rgb( 224, 218, 213 );
$colorBrown200: $colorGrayLightest; 	//replacing rgb( 235, 230, 227 );
$colorBrown100: rgb( 245, 245, 245 ); 	//replacing rgb( 245, 243, 241 );

// UI Red
$colorRed900: #ef534a;
$colorRed800: #f1665e;
$colorRed700: #f37972;
$colorRed600: #f48c86;
$colorRed500: #f69f9a;
$colorRed400: #f8b2ae;
$colorRed300: #f9c5c2;
$colorRed200: #fbd8d6;
$colorRed100: #fdebea;

// Color scale red
$colorRedScale1000: #f26d65;
$colorRedScale900: #f37c75;
$colorRedScale800: #f58a84;
$colorRedScale700: #f69994;
$colorRedScale600: #f7a8a4;
$colorRedScale500: #f9b7b3;
$colorRedScale400: #fac6c3;
$colorRedScale300: #fbd5d3;
$colorRedScale200: #fde4e2;
$colorRedScale100: #fef3f2;

// Map Red scale
$colorRedQ0-5: rgb(254,229,217);
$colorRedQ1-5: rgb(252,174,145);
$colorRedQ2-5: rgb(251,106,74);
$colorRedQ3-5: rgb(222,45,38);
$colorRedQ4-5: rgb(165,15,21);

//Map Green Scale
$colorGreenQ0-5: rgb(255,224,178);
$colorGreenQ1-5: rgb(255,183,77);
$colorGreenQ2-5: rgb(255,152,0);
$colorGreenQ3-5: rgb(245,124,0);
$colorGreenQ4-5: rgb(230,81,0);

//Map alter Blue Scale
$colorBlueQ0-5: #BBDEFB;
$colorBlueQ1-5: #64B5F6;
$colorBlueQ2-5: #2196F3;
$colorBlueQ3-5: #1976D2;
$colorBlueQ4-5: #0D47A1;

//Map alter Pink Scale
$colorPinkQ0-5: #F8BBD0;
$colorPinkQ1-5: #F06292;
$colorPinkQ2-5: #E91E63;
$colorPinkQ3-5: #C2185B;
$colorPinkQ4-5: #880E4F;

$colorNavy200: rgb( 204, 204, 214 );
$colorNavy400: rgb( 154, 153, 172 );
$colorNavy600: rgb( 103, 102, 131 );
$colorNavy800: rgb( 53, 51, 89 );
$colorNavy: rgb( 2, 0, 48 );


// Diverging scales, TODO: Flesh out
$colorPink: rgb( 212, 175, 185 );
$colorPink500:rgb( 229, 212, 213 );
$colorBlue: rgb( 156, 173, 207 );
$colorBlue500:rgb( 192, 214, 230 );

// Unused but saved here in case we decide to use more navy and need the depth
// $colorNavy100: rgb( 245, 243, 241 );
// $colorNavy300: rgb( 224, 218, 213 );
// $colorNavy500: rgb( 204, 193, 185 );
// $colorNavy700: rgb( 184, 168, 157 );
// $colorNavy900: rgb( 163, 143, 129 );

// Weak red
// $colorRed1000: #f26d65;
// $colorRed900: #f37c75;
// $colorRed800: #f58a84;
// $colorRed700: #f69994;
// $colorRed600: #f7a8a4;
// $colorRed500: #f9b7b3;
// $colorRed400: #fac6c3;
// $colorRed300: #fbd5d3;
// $colorRed200: #fde4e2;
// $colorRed100: #fef3f2;

/* ==========  Breakpoints  ========== */

$small: 38rem !default;
$medium: 62rem !default;
$large: 80rem !default;
$xlarge: 100rem !default;
$huge: 160rem !default;


/* ==========  Fonts  ========== */

// Icon font family
$fontIcon: 'icons' !default;

// Defining font sizes
$fontXTiny: 1rem !default;
$fontTiny: 1.3rem !default;
$fontSmall: 1.6rem  !default;
$fontBase: 2rem !default;
$fontLarge: 2.6rem !default;
$fontXLarge: 4.2rem !default;
$fontXXLarge: 6.8rem !default;
$fontHuge: 9rem !default;


// Decremented font sizes for making x-heights match across typefaces
$fontXTiny-decrement: 0.95rem !default;
$fontTiny-decrement: 1.25rem !default;
$fontSmall-decrement: 1.5rem  !default;
$fontBase-decrement: 1.85rem !default;
$fontLarge-decrement: 2.5rem !default;
$fontXLarge-decrement: 4.1rem !default;
$fontXXLarge-decrement: 6.7rem !default;
$fontHuge-decrement: 10.9rem !default;

/* ==========  Spacing  ========== */

$baseSpace: 2.6rem !default;


/* ==========  Animation  ========== */

$animationTime: 0.2s;
$animationEasing: cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;


/* ==========  Layout  ========== */

$sidebarWidth: 15%;
$minBuildermodHeight: 60rem;
$buildermodHeight: 60vh;

/* ==========  Z-index  ========== */

$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1001;


$spacer: 1rem;
