{{component "stream-header" model=model type='landUse'}}
<section class="stream__section">
  {{navigation-questions
    entityType=entityType
    model=model
    isDepartment=isDepartment
    isMunicipality=isMunicipality
    firstYear=firstYear
    lastYear=lastYear
  }}
</section>
