<div class="d-flex justify-content-center py-5 pt-md-x10">
  <div class="spinner-border text-warning" role="status" style="width: 3rem; height: 3rem;">
    <span class="sr-only"></span>
  </div>
</div>

