{{component "stream-header" model=modelData type='product' firstYear=firstYear lastYear=lastYear}}
<section class="stream__section">
  {{navigation-questions
    entityType=entityType
    model=modelData
    isDepartment=isDepartment
    isMunicipality=isMunicipality
    firstYear=firstYear
    lastYear=lastYear
  }}
</section>
