/**
*
* Button
*
**/

button::-moz-focus-inner {
  border:0;
  padding:0;
}

.btn {
  transition: color $animationTime $animationEasing;
  padding: 1.2rem 2rem;
  font-size: $fontTiny;
  cursor: pointer;
  &:active, &:focus {
    outline: 0;
  }
}

.btn--standalone {
  transition: color $animationTime $animationEasing, background $animationTime $animationEasing;
  font-weight: 600;
  font-family: $sans;
  display: inline-block;
  @include offset-text;
}

.btn--stream, .btn--buildermod {
  background: $colorBrown900;
  box-shadow: inset 0 -5px $colorBrown800;
  color: white;
  &:hover {
    background: $colorBrown800;
  }
  &--active {
    background: $colorBrown700;
    cursor: default;
    box-shadow: inset 0 -5px $colorBrown600;
    &:hover {
      background:$colorBrown600;
    }
  }
  &--disable {
    background: $colorBrown700;
    cursor: default;
    box-shadow: inset 0 -5px $colorBrown600;
    &:hover {
      background: $colorBrown600;
    }
  }
}

.btn--search {
  background: none;
  color: $colorWhite;
  border: solid 1px $colorWhite;
  width: 10rem;
  &:hover {
    color: $colorWhite;
    opacity: 0.8;
  }
}

.btn--cta {
  width: 5rem;
  height: 5rem;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: $baseSpace / 2;
}

.btn--text {
  text-align: right;
}

.btn-outline-secondary{
  color: $colorSecondary;
  border-color: $colorSecondary;
  font-size: 1.8rem;
}

.btn-light{
  font-size: 1.8rem;
  padding: 4px;
  color: #6c757d;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle{
  color: $colorBase;
  background-color: $colorSecondary;
  border-color: $colorSecondary;
}

.btn-outline-secondary:hover{
  color: $colorBase;
  background-color: $colorSecondary;
  border-color: $colorSecondary;
}
