/**
*
* Button
*
**/

.btn {
  transition: color 0.2s ease-in-out;
  padding: $baseSpace / 2;
  font-size: $fontBase;
  cursor: pointer;
}

.btn--standalone {
  background: $colorBrown500;
  text-transform: uppercase;
  color: $colorWhite;
}

.btn--inline {

}

.btn--recirc {
  margin: 0 auto;
}
