/**
*
* Button
*
**/

button::-moz-focus-inner {
  border:0;
  padding:0;
}

.btn {
  transition: color $animationTime $animationEasing;
  padding: $baseSpace/2 $baseSpace;
  font-size: $fontSmall;
  cursor: pointer;
  &:active, &:focus {
    outline: 0;
  }
}

.btn--standalone {
  transition: color $animationTime $animationEasing, background $animationTime $animationEasing;
  font-weight: 500;
  font-family: $sans;
  display: inline-block;
  @include offset-text;
}

.btn--stream {
  background: $colorBrown500;
  color: $colorGrayDark;
  box-shadow: inset 0 -5px $colorBrown700;
  &:hover, &:active, &:focus {
    background: $colorBrown400;
    box-shadow: inset 0 -5px $colorBrown500;
  }
}

.btn--buildermod {
  background: $colorBrown500;
  color: $colorGray;
  &:hover, &:active, &:focus {
    background: $colorBrown400;
  }
}

.btn--search {
  background: $colorNavy600;
  color: $colorWhite;
  box-shadow: inset 0 -5px $colorNavy800;
  &:hover {
    background: $colorNavy400;
    box-shadow: inset 0 -5px $colorNavy600;
  }
}

.btn--cta {
  width: 5rem;
  height: 5rem;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: $baseSpace / 2;
}
