/**
*
* Button
*
**/

button::-moz-focus-inner {
    border:0;
    padding:0;
}

.btn {
  transition: color $animationTime $animationEasing;
  padding: $baseSpace/2 $baseSpace;
  font-size: $fontSmall;
  cursor: pointer;
  &:active, &:focus {
    outline: 0;
  }
}

.btn--standalone {
  transition: $animationTime background $animationEasing;
  font-weight: 500;
  font-family: $sans;
  display: inline-block;
  @include offset-text;
}

.btn--stream {
  background: $colorBrown500;
  color: $colorGrayDark;
  &:hover, &:active, &:focus {
    background: $colorBrown400;
  }
}

.btn--buildermod {
  background: $colorBrown500;
  color: $colorGray;
  &:hover, &:active, &:focus {
    background: $colorBrown400;
  }
}

.btn--search {
  background: $colorNavy600;
  color: $colorWhite;
  &:hover {
    background: $colorNavy400;
  }
}
