/**
*
* Typography
* Includes any type styles applied across all pages that don't deserve a component
*
**/

.label {
  font-size: $fontTiny;
  font-weight: 300;
  color: $colorGrayDark;
  text-transform: uppercase;
}
