/**
*
* Link
*
**/

a {
  transition: color $animationTime $animationEasing;
}

.link--stream {
  color: $colorNavy600;
  &:hover, &:focus, &:active {
    color: $colorNavy800;
  }
}

.link--inactive {
  color: $colorGrayLighter;
  pointer-events: none;
}
