/**
*
* Link
*
**/

a {
  transition: color 0s $animationEasing;
}

.link--stream {
  color: #C2C4FF;
  font-family: $sans;
  font-weight: 600;
  font-size: $fontBase-decrement; // A bit smaller to make x-heights match
  &:hover, &:focus, &:active {
    color: #FFCD00;
  }
}

.link--stream--inline--small {
  font-size: $fontSmall-decrement;
}

.link--stream--inline--tiny {
  font-size: $fontTiny-decrement;
}

.link--inactive {
  color: $colorGrayLighter;
  pointer-events: none;
}

a{
  color: $colorWhite;
}

a:hover{
  color: $colorYellow;
  text-decoration: none;
}
