/**
*
* Link
*
**/

a {
  transition: color 0s $animationEasing;
}

.link--stream {
  color: $colorGrayDark;
  font-family: $sans;
  font-weight: 600;
  font-size: $fontBase-decrement; // A bit smaller to make x-heights match Plantin's
  &:hover, &:focus, &:active {
    color: $colorBlack;
  }
}

.link--stream--inline--small {
  font-size: $fontSmall-decrement;
}

.link--stream--inline--tiny {
  font-size: $fontTiny-decrement;
}

.link--inactive {
  color: $colorGrayLighter;
  pointer-events: none;
}
