/**
*
* Link
*
**/

a {
  transition: color 0.2s ease-in-out;
  color: $colorGrayLight;
  &:hover {
    color: $colorGray;
  }
}

.link--inactive {
  color: $colorGrayLighter;
  pointer-events: none;
}
