/**
*
* Search
*
**/

.search__wrap {
  display: inline-block;
  width: 100%;
  position: relative;

  .btn--search, .btn--buildermod {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.search__field__wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-right: 10rem;
}

.search {
  transition: background $animationTime $animationEasing;
  background: $colorGrayLightest;
  font-size: $fontSmall;
  font-weight: 300;
  padding: $baseSpace/2 $baseSpace;
  width: 100%;
  height: 100%;
  font-family: $sans;
  border: solid 1px $colorWhite;

  &:active, &:focus {
    outline: 0;
    &::-webkit-input-placeholder {
      color: $colorGray;
    }
  }
  &::-webkit-input-placeholder {
    transition: color $animationTime $animationEasing;
    color: $colorGrayLight;
    font-size: $fontSmall;
  }
}

.search__reset {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.6rem;
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  &:before {
    transition: color $animationTime $animationEasing;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: $baseSpace;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    color: $colorGrayLight;
  }
  &:hover:before {
    color: $colorGrayDark;
  }
}

.search:invalid ~ .search__reset {
  display: none;
}
