/**
*
* Table
*
**/

.table {
  width: 100%;
  margin-bottom: $baseSpace * 2;
}

.table__header,
.table__cell {
  padding: $baseSpace/2 $baseSpace/2;
  border-right: 1px solid $colorWhite;
  border-bottom: 1px solid $colorWhite;
  text-align: left;
  font-weight: 300;
  font-size: $fontSmall;
  &:last-of-type {
    border-right-width: 0px;
  }
}

.table__header {
  color: $colorBlack;
}

.table__header--is--descending {
  color: $colorBlack;
  &:after {
    font-size: $fontTiny;
    content: $fa-var-caret-down;
  }
}

.table__header--is--ascending {
  color: $colorBlack;
  &:after {
    font-family: $icon;
    font-size: $fontTiny;
    content: $fa-var-caret-up;
  }
}

.table__row--body:last-of-type .table__cell {
  border-bottom-width: 0px;
}

.table__footer {
  display: block;
  font-size: $fontTiny;
  text-align: right;
}

.table__footer__link--glossary {
  text-transform: lowercase;
}


