/**
*
* Table
*
**/

.table {
  width: 100%;
  margin-bottom: $baseSpace * 2;
}

.table__header,
.table__cell {
  padding: $baseSpace/2 $baseSpace/2;
  border-right: 1px solid $colorBrown600;
  border-bottom: 1px solid $colorBrown600;
  text-align: left;
  font-weight: 300;
  font-size: $fontSmall;
  &:last-of-type {
    border-right-width: 0px;
  }
}

.table__header {
  color: $colorBlack;
}

.table__header--is--descending:after {
  font-family: $icon;
  font-size: $fontTiny;
  content: $fa-var-caret-down;
}

.table__header--is--ascending:after {
  font-family: $icon;
  font-size: $fontTiny;
  content: $fa-var-caret-up;
}

.table__row--body:last-of-type .table__cell {
  border-bottom-width: 0px;
}



