/**
*
* Typography
* Include any type styles applied across all pages that don't deserve a component
*
**/

body {
  font-size: $fontBase;
  font-weight: 500;
  color: $colorGrayDark;
  font-family: $serif;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  color: $colorBlack;
}


li > p {
  padding-top: 0;
}

//utilities for font stylesheet
.fontXTiny { font-size: $fontXTiny; }
.fontTiny { font-size: $fontTiny; }
.fontSmall { font-size: $fontSmall; }
.fontBase { font-size: $fontBase; }
.fontLarge { font-size: $fontLarge; }
.fontXLarge { font-size: $fontXLarge; }
.fontXXLarge { font-size: $fontXXLarge; }
.fontHuge { font-size: $fontHuge; }

.fontSans { font-family: $sans; }
.fontSerif { font-family: $serif; }
.fontSansAlt { font-family: $sansAlt; }
.fontSansSC { font-family: $sansSC; text-transform: lowercase; }
.fontSerifSC { font-family: $serifSC; text-transform: lowercase; }