<div class="container-fluid px-md-x10 my-md-5 py-md-5 my-sm-1 py-sm-1">
  <header class="stream__header">
    <h2 class="title_yellow d-inline" style="font-size: 6rem;">{{ t 'glossary.head' }}</h2>
  </header>

  {{ t 'about.glossary' }}
</div>