
<br />
<br />
<br />

<header class="stream__header stream__header--builder">
	<ul>
		<li class="breadcrumb">A</li>
		<li class="breadcrumb">B</li>
		<li class="breadcrumb">C</li>
	</ul>
	<h2 class="stream__head">Vehículos automotores, remolques y semirremolques (34)</h2>
	{{component 'stream-head-menu'}}
</header>

<div class="header section__header">
	<h3 class="question__head">¿Qué lugares en Colombia ocupan más gente en este sector?</h3>
</div>

<br />
<br />
<br />