<header class="stream__header">
  <h2 class="stream__head">Project description</h2>
</header>

<section class="stream__section">
  <p class="section__p">In Colombia, income gaps between regions are huge and have been growing: new
  job opportunities are increasingly concentrated in the metropolitan areas of
  Bogotá, Medellín and Cali, as well as a few places where oil and other minerals
  are extracted. The average income of residents of Bogotá is four times that of
  Colombians living in the 12 poorest departments.</p>
  <p class="section__p">Prosperia is a diagnostic tool that firms, investors and policymakers
  can use to improve the productivity of departments, cities and municipalities.
  It maps the geographical distribution of Colombia’s productive activities and
  employment by department, metropolitan area and municipality, and identifies
  exports and industries of potential to increase  economic complexity and
  accelerate growth.</p>
</section>

<section class="stream__section">
  <h3 class="section__head">About CID, Growth Lab and the Atlas of Economic Complexity</h3>
  <p class="section__p">This project is funded by <a href="http://www.bancoldex.com/">Bancóldex</a>
  and <a href="http://www.fmsd.org.co/">Fundación Mario Santo Domingo</a> and was
  developed by the <a href="http://www.hks.harvard.edu/centers/cid">Center for
  International Development</a> at Harvard University, under the leadership of
  Professor <a href="http://ricardohausmann.com/">Ricardo Hausmann</a>.</p>

  <p class="section__p">The Center for International Development (CID) at Harvard University works
  to advance the understanding of development challenges and offer viable,
  inclusive solutions to problems of global poverty. CID is Harvard’s leading
  research hub focusing on resolving the dilemmas of public policy associated
  with generating stable, shared, and sustainable prosperity in developing
  countries. The Growth Lab is one of CID’s core research programs. Faculty and
  fellows work to understand the dynamics of growth and to translate those
  insights into more effective policymaking in developing countries. The Lab
  places economic complexity and diversification at the center of the development
  story and uncovers how countries and cities can move into industries with
  potential to increase productivity.</p>

  <p class="section__p">Economic Complexity is a measure of the amount of productive capabilities,
  or knowhow, that a country or a city has. Products are vehicles for knowledge.
  To make a shirt, one must design it, produce the fabric, cut it, sew it, pack
  it, market it and distribute it. For a country to produce shirts, it needs
  people who have expertise in each of these areas. Each of these tasks involves
  many more capabilities than any one person can master. Only by combining
  know-how from different people can any one product be made. The road to
  economic development involves increasing what a society knows how to do.
  Countries with more productive capabilities can make a greater diversity of
  products. Economic growth occurs when countries develop the capabilities and
  productive knowledge to produce more, and more complex, products.</p>

  <p class="section__p">This research has been applied at the international level in an online tool,
  The Atlas of Economic Complexity. By partnering with Colombia, the lab has been
  able to investigate export and industry possibilities at the sub-national
  level.</p>
</section>

<section class="stream__section">
  <h3 class="section__head">Founding Partners</h3>
  <h4 class="section__subhead">Mario Santo Domingo Foundation</h4>
  <p class="section__p">Created in 1953, the Mario Santo Domingo Foundation (FMSD) is a non-profit
  organization dedicated to implementing community development programs in
  Colombia. FMSD decided to concentrate its main efforts in the construction of
  affordable housing within a Community Development Model, named Integral
  Development of Sustainable Communities (DINCS in its Spanish initials) and
  designed by the FMSD as a response to the large housing deficit in Colombia.
  Through this program, the FMSD delivers social support for families, and social
  infrastructure and urban development for the less privileged. FMSD also
  supports entrepreneurs in the Northern region of Colombia and in Bogotá through
  its Microfinance Unit which provides training and financial services such as
  microcredit. More than 130,000 entrepreneurs have received loans from the
  Foundation since its launch in 1984. Finally, the FMSD works to identify
  alliances and synergies between the public and private sectors in critical
  social development areas such as early childhood, environmental sustainability,
  disaster attention, education and health.</p>
  <h4 class="section__subhead">Bancóldex</h4>
  <p class="section__p">Bancóldex is the entrepreneurial development bank of Colombia. It is
  committed to developing financial and non-financial instruments geared to
  enhance the competitiveness, productivity, growth and internationalization of
  Colombian enterprises. Leveraging on its unique relational equity and market
  position, Bancóldex manages financial assets, develops access solutions to
  financing and deploys innovative capital solutions, to foster and accelerate
  company growth. Besides offering traditional loans, Bancóldex has been
  appointed to implement several development program such as iNNpulsa Colombia,
  iNNpulsa Mipyme, Banca de las Oportunidades, and the Productive Transformation
  Program, all of them, in an effort to consolidate an integrated offer to
  promote Colombian business environment and overall competitiveness. The [insert
  name here] elaborates on the work that Bancóldex has been undertaking through
  its Productive Transformation Program and <a href="http://www.innpulsacolombia.com/">INNpulsa Colombia</a>
  initiatives.</p>
</section>


<section class="stream__section">
  <h3 class="section__head">Contact information</h3>
  <a href="mailto:">Eduardo_Lora/hks.harvard.edu</a>
</section>

<section class="stream__section">
  <h3 class="section__head">Newsletter sign-up CTA</h3>
  <p class="section__p">Sign up for CID’s Research Newsletter to keep up-to-date with related
  breakthrough research and practical tools, including updates to this site. </p>
  <a href="http://www.hks.harvard.edu/centers/cid/news-events/subscribe">http://www.hks.harvard.edu/centers/cid/news-events/subscribe</a>
</section>
