<hr />

<h6 class="stream__label">fontXTiny</h6>
<i class="fontXTiny fontSans">fontSans</i>
<i class="fontXTiny fontSansSC">fontSansSC</i>
<i class="fontXTiny fontSerif">fontSerif</i>
<i class="fontXTiny fontSerifSC">fontSerifSC</i>

<h6 class="stream__label">fontTiny</h6>
<i class="fontTiny fontSans">fontSans</i>
<i class="fontTiny fontSansSC">fontSansSC</i>
<i class="fontTiny fontSerif">fontSerif</i>
<i class="fontTiny fontSerifSC">fontSerifSC</i>

<h6 class="stream__label">fontSmall</h6>
<i class="fontSmall fontSans">fontSans</i>
<i class="fontSmall fontSansSC">fontSansSC</i>
<i class="fontSmall fontSerif">fontSerif</i>
<i class="fontSmall fontSerifSC">fontSerifSC</i>

<h6 class="stream__label">fontBase</h6>
<i class="fontBase fontSans">fontSans</i>
<i class="fontBase fontSansSC">fontSansSC</i>
<i class="fontBase fontSerif">fontSerif</i>
<i class="fontBase fontSerifSC">fontSerifSC</i>

<h6 class="stream__label">fontLarge</h6>
<i class="fontLarge fontSans">fontSans</i>
<i class="fontLarge fontSansSC">fontSansSC</i>
<i class="fontLarge fontSerif">fontSerif</i>
<i class="fontLarge fontSerifSC">fontSerifSC</i>

<h6 class="stream__label">fontXLarge</h6>
<i class="fontXLarge fontSans">fontSans</i>
<i class="fontXLarge fontSansSC">fontSansSC</i>
<i class="fontXLarge fontSerif">fontSerif</i>
<i class="fontXLarge fontSerifSC">fontSerifSC</i>

<h6 class="stream__label">fontXXLarge</h6>
<i class="fontXXLarge fontSans">fontSans</i>
<i class="fontXXLarge fontSansSC">fontSansSC</i>
<i class="fontXXLarge fontSerif">fontSerif</i>
<i class="fontXXLarge fontSerifSC">fontSerifSC</i>

<h6 class="stream__label">fontHuge</h6>
<i class="fontHuge fontSans">fontSans</i>
<i class="fontHuge fontSansSC">fontSansSC</i>
<i class="fontHuge fontSerif">fontSerif</i>
<i class="fontHuge fontSerifSC">fontSerifSC</i>

<h6 class="stream__label">h1.stream__head.index__head</h6>
<h1 class="stream__head index__head">Stream Head on index page</h1>

<h6 class="stream__label">h2.stream__head</h6>
<h2 class="stream__head">Stream Head on interior pages</h2>

<h6 class="stream__label">h2.result__head</h6>
<h2 class="stream__head">Result head on interior pages</h2>

<h6 class="stream__label">h3.section__head</h6>
<h3 class="section__head">Section Head</h3>

<h6 class="stream__label">h4.section__subhead</h6>
<h4 class="section__subhead">Section Subhead</h4>


<h6 class="stream__label">p.section__p</h6>
<p class="section__p">Los países que exportan productos complejos, que requieren una gran cantidad de conocimientos, crecen más rápido que los que exportan materias primas. Usando los métodos de medir y visualizar la complejidad desarrollados por la Universidad de Harvard, Datlas permite explorar las posibilidades productivas y de exportación de los departamentos y ciudades colombianas.</p>

<h6 class="stream__label">a.index__questions__link</h6>
<a class="index__questions link--stream">¿Qué sectores emplean más gente en Bogotá?</a>

<h6 class="stream__label">a.btn--stream</h6>
<a class="btn--standalone btn--stream btn">Lea el perfil de Antioquia</a>