<hr />

<div class="fontSans">
	<i class="fontXTiny">fontXTiny</i>
	<i class="fontTiny">fontTiny</i>
	<i class="fontSmall">fontSmall</i>
	<i class="fontBase">fontBase</i>
	<i class="fontLarge">fontLarge</i>
	<i class="fontXLarge">fontXLarge</i>
	<i class="fontXXLarge">fontXXLarge</i>
	<i class="fontHuge">fontHuge</i>
</div>

<div class="fontSerif">
	<i class="fontXTiny">fontXTiny</i>
	<i class="fontTiny">fontTiny</i>
	<i class="fontSmall">fontSmall</i>
	<i class="fontBase">fontBase</i>
	<i class="fontLarge">fontLarge</i>
	<i class="fontXLarge">fontXLarge</i>
	<i class="fontXXLarge">fontXXLarge</i>
	<i class="fontHuge">fontHuge</i>
</div>

<div class="fontSansAlt">
	<i class="fontXTiny">fontXTiny</i>
	<i class="fontTiny">fontTiny</i>
	<i class="fontSmall">fontSmall</i>
	<i class="fontBase">fontBase</i>
	<i class="fontLarge">fontLarge</i>
	<i class="fontXLarge">fontXLarge</i>
	<i class="fontXXLarge">fontXXLarge</i>
	<i class="fontHuge">fontHuge</i>
</div>

<h6 class="stream__label">h1.stream__head.index__head</h6>
<h1 class="stream__head index__head">Stream Head on Index Page</h1>

<h6 class="stream__label">h2.stream__head</h6>
<h2 class="stream__head">Stream Head on Interior Pages</h2>

<h6 class="stream__label">h3.section__head</h6>
<h3 class="section__head">Section Head</h3>

<h6 class="stream__label">h4.section__subhead</h6>
<h4 class="section__subhead">Section Subhead</h4>


<h6 class="stream__label">p.section__p</h6>
<p class="section__p">Los países que exportan productos complejos, que requieren una gran cantidad de conocimientos, crecen más rápido que los que exportan materias primas. Usando los métodos de medir y visualizar la complejidad desarrollados por la Universidad de Harvard, Datlas permite explorar las posibilidades productivas y de exportación de los departamentos y ciudades colombianas.</p>

<h6 class="stream__label">a.index__questions__link</h6>
<a class="index__questions__link">¿Qué sectores emplean más gente en Bogotá?</a>

<h6 class="stream__label">a.btn--stream</h6>
<a class="btn--standalone btn--stream btn">Lea el perfil de Antioquia</a>