<nav class="switcher">
  <ul class="switcher__list">
    <li class="switcher__item">
      {{#linkTo "about.project-description" class="switcher__item__link" activeClass="switcher__item--is--active"}}Project Description{{/linkTo}}
    </li>
    <li class="switcher__item">
      {{#linkTo "about.glossary" class="switcher__item__link" activeClass="switcher__item--is--active"}}Glossary{{/linkTo}}
    </li>
  </ul>
</nav>