<div class="change-visualization__container">
  {{#each graph in otherPossibleGraphs}}
    {{#if graph.available}}
      {{component 'graphbuilder-change-graph'
        toggleVisualization='toggleVisualization'
        type=graph.type
        isAvailable=graph.available
        visualization=visualization
        description=graph.description
      }}
    {{/if}}
  {{/each}}
</div>

