<form class="buildermod__searchwrap">
  {{input
    class="buildermod__search"
    placeholder=(t 'graph_builder.search.placeholder')
    value=searchText
    enter='search'
  }}
  <input class="buildermod__search__submit fa fa-search" type="submit" value="&#xf002;" {{action 'search'}}>
</form>

