<form class="buildermod__drawer buildermod__drawer--changegraph">
  <div class="changegraph__radioswrap">
    {{#each change in otherPossibleGraphs}}
      {{component 'graphbuilder-change-graph'
        toggleVisualization='toggleVisualization'
        type=change
        vis=vis
      }}
    {{/each}}
  </div>
</form>

