<div class="d-flex justify-content-around">
  {{#each graph in otherPossibleGraphs}}
    {{#if graph.available}}
      {{component 'graphbuilder-change-graph'
        toggleVisualization='toggleVisualization'
        type=graph.type
        description=graph.description
        visualization=visualization
      }}
    {{/if}}
  {{/each}}
</div>

