<div class="tabmod">
  {{#ivy-tabs}}
    {{#ivy-tab-list classNames='tabmod__tabs'}}
      {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
        <a class="tab__link">Locations</a>
      {{/ivy-tab}}
      {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
        <a class="tab__link">Exports and imports</a>
      {{/ivy-tab}}
      {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
        <a class="tab__link">Industries</a>
      {{/ivy-tab}}
      {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
        <a class="tab__link">Occupations</a>
      {{/ivy-tab}}
    {{/ivy-tab-list}}

    {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
    <ul class="builder__nav__list">
      <li class="builder__nav__item">
        <img src="http://placehold.it/40x40" class="icon builder__nav__item__icon">
        <div class="builder__nav__item__textwrap">
          <h4 class="label builder__nav__label">Treemap</h4>
          <h3 class="builder__nav__question">What countries does Atlántico export to?</h3>
        </div>
      </li>
      <li class="builder__nav__item">
        <img src="http://placehold.it/40x40" class="icon builder__nav__item__icon">
        <div class="builder__nav__item__textwrap">
          <h4 class="label builder__nav__label">Treemap</h4>
          <h3 class="builder__nav__question">What countries does Atlántico export BLANK to?</h3>
        </div>
      </li>
      <li class="builder__nav__item">
        <img src="http://placehold.it/40x40" class="icon builder__nav__item__icon">
        <div class="builder__nav__item__textwrap">
          <h4 class="label builder__nav__label">Treemap</h4>
          <h3 class="builder__nav__question">What countries does Atlántico import from?</h3>
        </div>
      </li>
      <li class="builder__nav__item">
        <img src="http://placehold.it/40x40" class="icon builder__nav__item__icon">
        <div class="builder__nav__item__textwrap">
          <h4 class="label builder__nav__label">Treemap</h4>
          <h3 class="builder__nav__question">What countries does Atlántico import BLANK from?</h3>
        </div>
      </li>

      <li class="builder__nav__item">
        <img src="http://placehold.it/40x40" class="icon builder__nav__item__icon">
        <div class="builder__nav__item__textwrap">
          <h4 class="label builder__nav__label">Treemap</h4>
          <h3 class="builder__nav__question">What subregions contribute to the exports from Atlántico?</h3>
        </div>
      </li>
      <li class="builder__nav__item">
        <img src="http://placehold.it/40x40" class="icon builder__nav__item__icon">
        <div class="builder__nav__item__textwrap">
          <h4 class="label builder__nav__label">Treemap</h4>
          <h3 class="builder__nav__question">What subregions contribute to the exports from Atlántico to    of   ?</h3>
        </div>
      </li>
      <li class="builder__nav__item">
        <img src="http://placehold.it/40x40" class="icon builder__nav__item__icon">
        <div class="builder__nav__item__textwrap">
          <h4 class="label builder__nav__label">Treemap</h4>
          <h3 class="builder__nav__question">What subregions contribute to the imports of Atlántico?</h3>
        </div>
      </li>
      <li class="builder__nav__item">
        <img src="http://placehold.it/40x40" class="icon builder__nav__item__icon">
        <div class="builder__nav__item__textwrap">
          <h4 class="label builder__nav__label">Treemap</h4>
          <h3 class="builder__nav__question">What subregions contribute to the imports of Atlántico from   ?</h3>
        </div>
      </li>
      <li class="builder__nav__item">
        <img src="http://placehold.it/40x40" class="icon builder__nav__item__icon">
        <div class="builder__nav__item__textwrap">
          <h4 class="label builder__nav__label">Treemap</h4>
          <h3 class="builder__nav__question">What subregions contribute to the imports of Atlántico from    of   ?</h3>
        </div>
      </li>

    </ul>

    {{/ivy-tab-panel}}

    {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
      <h2>Exports and imports</h2>
    {{/ivy-tab-panel}}

    {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
      <h2>Industries</h2>
    {{/ivy-tab-panel}}

    {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
      <h2>Occupations</h2>
    {{/ivy-tab-panel}}
  {{/ivy-tabs}}
</div>