<form class="buildermod__drawer buildermod__drawer--changegraph">
  <div class="changegraph__radioswrap">
    {{#each graph in otherPossibleGraphs}}
      {{component 'graphbuilder-change-graph'
        toggleVisualization='toggleVisualization'
        type=graph.type
        isAvailable=graph.available
        visualization=visualization
        description=graph.description
      }}
    {{/each}}
  </div>
</form>

