<div class="buildermod__drawer buildermod__drawer--settings">
  <label for="buildermod__settings__slider--time" class="buildermod__settings__slider">Change time period:</label>
  {{input-slider}}
</div>