<div class="change-visualization__container">
  {{#each graph in otherPossibleGraphs}}
    {{#if graph.available}}
      {{component 'graphbuilder-change-graph'
        toggleVisualization='toggleVisualization'
        type=graph.type
        visualization=visualization
      }}
      <span>{{t graph.description}}</span>
    {{/if}}
  {{/each}}
</div>

