<div class="tabmod">
  {{#ivy-tabs}}
    {{#ivy-tab-list classNames='tabmod__tabs'}}
      {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
        <a class="tab__link">{{t 'general.locations'}}</a>
      {{/ivy-tab}}
    {{/ivy-tab-list}}

    {{!-- LOCATION--}}
    {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
      <ul class="builder__nav__list">
        <li class="builder__list--nested">
          <ul>
            <li class="builder__nav__item ">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Geo Map</h4>
                {{#link-to 'visualization' entity_and_id 'locations' 'geo' (query-params variable='export_value') class="builder__nav__question"}}
                    What Departments export {{name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Geo Map</h4>
                {{#link-to 'visualization' entity_and_id 'locations' 'geo' (query-params variable='import_value') class="builder__nav__question"}}
                    What Departments import {{name}}
                {{/link-to}}
              </div>
            </li>
          </ul>
        </li>
      </ul>
    {{/ivy-tab-panel}}
  {{/ivy-tabs}}
</div>
