<header class="section__header">
  <h3 class="section__head">Cities and municipalities in {{model.name}}</h3>
</header>
<ul class="section__list__links">
  <li class="section__list__link"><a href="#" class="list__link">Baranoa</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Barranquilla (city)</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Barranquilla</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Campo de la Cruz</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Candelaria</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Galapa</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Juan de Acosta</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Luruaco</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Malambo (city)</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Malambo</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Manatí</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Palmar de Varela</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Piojó</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Polonuevo</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Ponedera</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Puerto Colombia</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Repelon</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Sabanagrande</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Sabanalarga</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Santa Lucía</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Santo Tomás</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Soledad (city)</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Soledad</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Suan</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Tubará</a></li>
  <li class="section__list__link"><a href="#" class="list__link">Usiacurí</a></li>
</ul>