<h3 class="results__header">Results</h3>
{{#if filteredResults.length}}
  <ul class="search__results">
    {{#each result in filteredResults}}
      {{search-result
        result=result
      }}
    {{/each}}
  </ul>
  <p class='search__copy search__copy--postscript'>Didn't find what you were looking for? Let us know: TKTK@prospedia.com</p>
{{else}}
  <p class='search__copy search__copy--postscript'>No results found. Are we missing something? Let us know: TKTK@prospedia.com</p>
{{/if}}

