<li class="search__result">
  <div class="search__result-text">
    <p class="search__result-breadcrumb">{{result.breadcrumb}}</p>
    <p class="search__result-name">{{result.name}}</p>
  </div>
    {{link-to 'Profile' 'location.show' 1  class="profile__button"}}
    <a class="graph-builder__button">Graph Builder</a>
</li>
