<h3 class="results__header">Results</h3>
{{#if model.length}}
  <ul class="search__results">
    {{#each result in model}}
      {{search-result
        result=result
      }}
    {{/each}}
  </ul>
{{else}}
  <p class='search__results--none'>No results found.</p>
{{/if}}

