<header class="header--sidebar">
  <div class="branding">
    <img src="assets/img/branding/logo.png" alt="" class="branding__logo">
    <p class="branding__slogan">Using data to keep Colombia competitive</p>
  </div>
  {{#link-to "search" (query-params query="null") class="sidebar__search sidebar__section" tagName="div" }}
    {{#link-to "search"  class="sidebar__btn sidebar__btn--search" activeClass="sidebar__btn--is--active"}}
      <i class="icon-cidcon_search sidebar__btn__icon"></i>
      Search
    {{/link-to}}
  {{/link-to}}
  <nav class="sidebar__section sidebar__nav">
    <ul class="nav__list">
      <li class="nav__item">
        {{#link-to profileLink entity_id
          class="sidebar__btn nav__item__link"
          activeClass="sidebar__btn--is--active"}}
          Profiles
        {{/link-to}}
      </li>
      <li class="nav__item">
        {{#link-to "graph_builder"
          (query-params entity=entity entity_id=entity_id)
          class="sidebar__btn nav__item__link"
          activeClass="sidebar__btn--is--active"}}
          Graph Builder
        {{/link-to}}
      </li>
    </ul>
  </nav>
  <div class="sidebar__section sidebar__languages">
    <div class="togglemod togglemod--languages">
      <p {{bind-attr class=":toggle__label__text isEnglish:toggle__label--is--active"}}>EN</p>
       {{input type='checkbox' id='toggle--languages' class='toggle toggle--languages' checked=language}}
      <label class="toggle__label" for="toggle--languages"></label>
      <p {{bind-attr class=":toggle__label__text isEnglish::toggle__label--is--active"}}>ES</p>
    </div>
  </div>
</header>

