<header class="section__header">
  <h3 class="section__head">Cities and municipalities in {{model.name}}</h3>
</header>
<ul class="section__list__links">
  <li class="section__list__link">Baranoa</li>
  <li class="section__list__link">Barranquilla (city)</li>
  <li class="section__list__link">Barranquilla</li>
  <li class="section__list__link">Campo de la Cruz</li>
  <li class="section__list__link">Candelaria</li>
  <li class="section__list__link">Galapa</li>
  <li class="section__list__link">Juan de Acosta</li>
  <li class="section__list__link">Luruaco</li>
  <li class="section__list__link">Malambo (city)</li>
  <li class="section__list__link">Malambo</li>
  <li class="section__list__link">Manatí</li>
  <li class="section__list__link">Palmar de Varela</li>
  <li class="section__list__link">Piojó</li>
  <li class="section__list__link">Polonuevo</li>
  <li class="section__list__link">Ponedera</li>
  <li class="section__list__link">Puerto Colombia</li>
  <li class="section__list__link">Repelon</li>
  <li class="section__list__link">Sabanagrande</li>
  <li class="section__list__link">Sabanalarga</li>
  <li class="section__list__link">Santa Lucía</li>
  <li class="section__list__link">Santo Tomás</li>
  <li class="section__list__link">Soledad (city)</li>
  <li class="section__list__link">Soledad</li>
  <li class="section__list__link">Suan</li>
  <li class="section__list__link">Tubará</li>
  <li class="section__list__link">Usiacurí</li>
</ul>