/**
*
* About
*
**/

.about {
  background: $colorBrown200;
}

.about__article  {
  border-left: $baseSpace $colorRed solid;
  border-image: url(../assets/img/general/border--red.svg);
  border-image-slice: 0 100%;
}
