/**
*
* Buildermod
*
**/

.buildermod__header {
  background: $colorGrayLight;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.buildermod__head {
  display: inline-block;
  font-weight: 500;
  padding: $baseSpace/2 $baseSpace;
  font-size: $fontSmall;
  align-self: center;
  &~.buildermod__tools .buildermod__tool:first-child {
    border-left: 1px solid $colorGrayLighter;
  }
}

.buildermod__tools {
  display: flex;
  justify-content: flex-end;
}

.buildermod__tool {
  border-left: 1px solid $colorGrayLighter;
  display: inline-block;
  padding: $baseSpace/2 $baseSpace;
  @include offset-text;
  &:first-child {
    border-left: none;
  }
}

.tool__btn__icon:before {
  margin-right: $baseSpace/5;
}

.buildermod__tool__btn--sub {
  padding: 0;
  margin-right: $baseSpace / 2;
  &:last-of-type {
    margin-right: 0;
  }
}

.buildermod__vizwrap {
  min-height: $minBuildermodHeight;
  overflow-y: scroll;
  background: $colorGrayLightest;
  position: relative;
  padding: $baseSpace*1.5;
}

.buildermod__vizwrap--fixedheight {
  overflow-y: visible;
}

.buildermod__vizwrap--geo {
  padding: 0;
}

.buildermod__viz {
  position: relative;
  &--white {
    background: $colorWhite;
  }
}

.buildermod__highlight__wrap {
  margin: 0 0 1rem 0;
  width: 100%;
  z-index: $zIndex-1;
}

.buildermod__highlight__wrap .search {
  background: white;
}


/*
* Legend underneath visualizations
*/
.buildermod__legend {
  vertical-align: top;
  display: block;
  font-size: $fontTiny;
  font-family: $sans;
  width: auto;
  margin-top: 1rem;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  @media screen and (max-width: 900px) {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
  @media screen and (max-width: 700px) {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
}

.visualization__scatter .buildermod__legend {
  margin-left: 6rem;
}

.buildermod__legend__item {
  display: inline-block;
  width: 100%;
  white-space: nowrap;

  .fa {
    position: relative;
    font-size: $fontXTiny;
    top: -1px;
  }
}
