/**
*
* Graph Builder nav/question list
*
**/

.builder__nav__list {
  display: flex;
}

.builder__list--nested {
  padding-right: $baseSpace * 2;
  width: 50%;
}

.builder__nav__item {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: $baseSpace;
  &:last-of-type {
    margin-bottom: 0;
  }
  &:hover {
    .builder__nav__item__icon:before {
      color: $colorGrayDark;
    }
    .builder__nav__label {
      color: $colorGrayDark;
    }
    .builder__nav__question {
      color: $colorGrayDark;
    }
  }
}

.builder__nav__item--unavailable {
  pointer-events: none;
  .builder__nav__item__icon:before {
    color: $colorGrayLight;
  }
  .builder__nav__label {
    color: $colorGrayLight;
  }
  .builder__nav__question {
    color: $colorGrayLight;
  }
}

.builder__nav__item__icon, .builder__nav__item__textwrap {

}

.builder__nav__item__icon {
  margin-right: $baseSpace;
  min-width: 40px;
  &:before {
    transition: color 0.2s ease-in-out;
    color: $colorGray;
    margin: 0 auto;
    font-size: 40px;
  }
}

.builder__nav__label {
  transition: color 0.2s ease-in-out;
  color: $colorGray;
}

.builder__nav__question {
  font-weight: 300;
  color: $colorGray;
  font-size: $fontSmall;
  display: inline-block;
}
