/**
*
* Buildermod
*
**/

.buildermod__header {
  background: $colorBrown500;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buildermod__head {
  display: inline-block;
  font-weight: 500;
  padding-left: $baseSpace;
  font-size: $fontSmall;
  &~.buildermod__tools .buildermod__tool:first-child {
    border-left: 1px solid $colorBrown400;
  }
}

.buildermod__tools {
  display: flex;
  justify-content: flex-end;
}

.buildermod__tool {
  border-left: 1px solid $colorBrown400;
  display: inline-block;
  padding: $baseSpace/2 $baseSpace;
  @include offset-text;
  &:first-child {
    border-left: none;
  }
}

.buildermod__tool--is--unnecessary {
  display: none;
}

.tool__btn__icon:before {
  margin-right: $baseSpace/5;
}

.buildermod__tool__btn--sub {
  padding: 0;
  margin-right: $baseSpace / 2;
  &:last-of-type {
    margin-right: 0;
  }
}

.buildermod__vizwrap {
  min-height: $minBuildermodHeight;
  height: $buildermodHeight;
  overflow-y: scroll;
  background: $colorBrown300;
  margin-bottom: $baseSpace*2;
  position: relative;
  padding: $baseSpace*5 $baseSpace*1.5 $baseSpace*1.5;
}

.buildermod__highlight__wrap {
  margin: $baseSpace*-3.5 0 0;
  position: absolute;
  width: calc(100% - 7.8rem); // TODO Switch from calc
  z-index: $zIndex-1;
}
