/**
*
* Buildermod Drawer
*
**/

.buildermod__settings--open{
  .buildermod__drawer--settings {
    display: block;
  }
  .buildermod__tool--settings {
    background: $colorBrown300;
    border-left-color: $colorBrown300;
    .tool__btn__icon:before {
      content: $fa-var-remove;
    }
  }
  .buildermod__vizwrap {
    border-width: 0;
    overflow-y: auto;
  }
  .buildermod__viz {
    display: none;
  }
}

.buildermod__drawer {
  background: $colorBrown300;
  position: absolute;
  z-index: $zIndex-2;
  left: 0;
  right: 0;
  top: 0;
  min-height: 100%;
  padding: $baseSpace * 1.5;
  display: none;
}

// Settings drawer

.settings__input__wrap {
  margin-bottom: $baseSpace;
  &:last-of-type {
    padding-bottom: $baseSpace * 2;
    border-bottom: 1px solid $colorBrown500;
  }
}

.settings__input {
  margin-bottom: $baseSpace * 2;
  line-height: 100%;
}

.settings__btn--close {
  float: right;
}

// Change Graph drawer
.buildermod__tool--change_graph {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

.buildermod__tool--change-graph--label {
  flex: 1 1 auto;
  vertical-align: middle;
  line-height: 1em;
  margin-right: .5rem;
}

.change-visualization__container {
  flex: 1 1 auto;
  width: auto;
  i {
    display: inline-block;
    width: auto;
    font-size: 35px;
    line-height: 30px;
    &:before { margin: 0; padding: 0; }
  }
}

.changegraph__icon {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: $colorGray;
  pointer-events: all;
  cursor: pointer;
  &:hover {
    color: $colorBlack;
  }
}

.changegraph__icon--checked {
  color: $colorGrayDark;
  -webkit-text-stroke: 1px $colorGrayDark;
  &:hover {
  }
}

