/**
*
* Graph Builder
*
**/

.builder {
  background: $colorWhite;
}

.builder__recirc {
  width: 100%;
  margin-bottom: $baseSpace * 3;
}

.builder__header h3 {
	font-size: 20px;
	font-weight: 300;
}