/**
*
* Buildermod
*
**/

.buildermod__header {
  background: $colorBrown500;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buildermod__head {
  display: inline-block;
  font-weight: 300;
  padding-left: $baseSpace;
  font-size: $fontSmall;
  &~.buildermod__tools .buildermod__tool:first-child {
    border-left: 2px solid $colorBrown400;
  }
}

.buildermod__tools {
  display: flex;
  justify-content: flex-end;
}

.buildermod__tool {
  border-left: 2px solid $colorBrown400;
  display: inline-block;
  padding: $baseSpace/2 $baseSpace;
  &:first-child {
    border-left: none;
  }
}

.buildermod__tool--is--unnecessary {
  display: none;
}

.buildermod__tool__btn  {
  color: $colorGray;
  &:hover, &:active, &:focus {
    color: $colorGrayDark;
    .tool__btn__icon:before {
      color: $colorGrayDark;
    }
  }
}

.tool__btn__icon:before {
  margin-right: $baseSpace/5;
}

.buildermod__tool__btn--sub {
  padding: 0;
  margin-right: $baseSpace / 2;
  &:last-of-type {
    margin-right: 0;
  }
}

.buildermod__vizwrap {
  height: 600px;
  border: 1px solid $colorBrown500;
  overflow-y: scroll;
  background: $colorBrown200;
  margin-bottom: $baseSpace;
  position: relative;
  padding: $baseSpace*4.5 $baseSpace*1.5 $baseSpace*1.5;
}

.buildermod__highlightwrap {
  display: flex;
  align-items: stretch;
  margin: $baseSpace*-3 0 0;
  position: absolute;
  width: calc(100% - 7.8rem); // TODO Switch from calc
  z-index: $zIndex-1;
}

.buildermod__highlight {
  transition: background 0.2s ease-in-out;
  background: $colorWhite;
  font-size: $fontSmall;
  font-weight: 300;
  padding: $baseSpace/2 $baseSpace;
  flex: 1 1 auto;
  box-shadow: -1px 2px 2px $colorGrayLighter;
  &:active, &:focus {
    outline: 0;
    &::-webkit-input-placeholder {
      color: $colorGray;
    }
  }
  &::-webkit-input-placeholder {
    transition: color 0.2s ease-in-out;
    color: $colorGrayLight;
    weight: 500;
    font-size: $fontSmall;
  }
}

.buildermod__highlight__submit {
  padding: $baseSpace/2 $baseSpace;
  box-shadow: 2px 2px 2px $colorGrayLighter;
}

.buildermod__highlight__reset {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  &:before {
    transition: color 0.2s ease-in-out;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: $baseSpace;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    color: $colorGrayLight;
  }
  &:hover:before {
    color: $colorGrayDark;
  }
}

.buildermod__highlight:invalid ~ .buildermod__highlight__reset {
  display: none;
}
