/**
*
* Graph Builder questions
*
**/

.builder__questions__header {
  font-size: $fontBase;
  font-weight: 500;
  margin-bottom: $baseSpace;
  color: $colorGrayDark;
  line-height: 100%;
}

.builder__questions__list {
  margin-bottom: $baseSpace*2;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.builder__questions__item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: $baseSpace/2;
  &:last-of-type {
    margin-bottom: 0;
  }
  &:hover {
    .builder__questions__item__icon:before {
      color: $colorGrayDark;
    }
    .builder__questions__label {
      color: $colorGrayDark;
    }
    .builder__questions__question {
      color: $colorGrayDark;
    }
  }
}

// TODO: Remove this class for launch
// We shouldn't be showing any questions we don't have graphs for
.builder__questions__item--is--disabled {
  pointer-events: none;
}

.builder__questions__item__icon {
  margin-right: $baseSpace/2;
  &:before {
    transition: color $animationTime $animationEasing;
    color: $colorGray;
    margin: 0 auto;
    font-size: $fontLarge;
  }
}

.builder__questions__label {
  transition: color $animationTime $animationEasing;
  color: $colorGray;
}

.builder__questions__question {
  font-weight: 100;
  color: $colorGray;
  font-size: $fontBase;
  display: inline-block;
  font-family: $sans;
}

.builder__icon--placeholder:before {
  width: auto;
}
