/**
*
* Graph Builder questions
*
**/

.buildermod__questions {
  position: relative;
  background: $colorGrayLightest;
  margin: $baseSpace/2 0 $baseSpace 0;
}

.builder__questions__header {
  font-size: $fontSmall;
  font-weight: 600;
  margin-bottom: $baseSpace/4;
  color: $colorGray;
  font-family: $sans;
  line-height: 100%;
  background-color: white;
  min-height: 4rem;
  padding: 1rem;
  width: inherit;
  border-bottom: 2px solid #dfdfdf;
  border-top: 2px solid #eeeeee;
}

.builder__questions__list {
  margin-bottom: $baseSpace/2;
  padding: 1.5rem 0rem 2rem 0rem;
}

.builder__questions__item {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin-bottom: 1rem;
  &:hover {
    .builder__questions__item__icon:before {
      color: $colorGrayDark;
    }
    .builder__questions__label {
      color: $colorGrayDark;
    }
    .builder__questions__question {
      color: $colorGrayDark;
    }
  }
}

.builder__questions__item__textwrap {
  margin-left: 10rem;
}

// TODO: Remove this class for launch
// We shouldn't be showing any questions we don't have graphs for

.builder__questions__item--disabled {
  pointer-events: none;
  color: $colorGrayLightest;
}

.builder__questions__item__icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 2px;
  margin-top: 3px;
  &:before {
    transition: color $animationTime $animationEasing;
    color: $colorGray;
    margin: 0 auto;
    font-size: $fontLarge;
  }

  &.icon-cidcon_geo { }
  &.icon-cidcon_multiples { left: 30px;}
  &.icon-cidcon_treemap, &.icon-cidcon_scatter, &.icon-cidcon_similarity { left: 60px;}
  
}

.builder__questions__label {
  transition: color $animationTime $animationEasing;
  color: $colorGray;
}

.builder__questions__question {
  font-weight: 400;
  color: $colorGray;
  font-size: $fontSmall;
  display: inline-block;
  font-family: $sans;
}

.builder__icon--placeholder:before {
  width: auto;
}

.buildermod__drawer--questions {
  display: block;
}
.buildermod__tool--questions {
  border-left-color: $colorBrown300;
}
