/**
*
* CTAs
*
**/

.cta__wrap {
  position: absolute;
  top: 0;
  left: -5rem - $baseSpace;
}

// .ctas {
//   display: flex;
//   justify-content: center;
//   padding: $baseSpace;
// }

// .ctamod__wrap {
//   position: relative;
//   width: 33.333333%;
//   &:before {
//     content: '';
//     display: block;
//     padding-top: 100%;
//   }
//   &:nth-of-type(1) {
//     z-index: $zIndex-2;
//   }
//   &:nth-of-type(2) {
//     z-index: $zIndex-1;
//   }
// }

// .ctamod {
//   background-color: $colorBrown300;
//   transform: rotate(45deg);
//   padding: $baseSpace;
//   display: flex;
//   border: 2vw solid $colorBrown200;
//   background-clip: padding-box;
//   position:  absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }

// .cta__header {
//   width: 100%;
//   text-align: right;
//   padding-left: 33.3333%;
//   transform: rotate(-90deg);
//   line-height: 100%;
//   font-weight: 500;
// }

// .cta__btns {
//   position: absolute;
//   bottom: 2.6rem;
//   right: 2.6rem;
// }

// .cta__btn {
//   margin-bottom: 1.3rem;
//   float: right;
//   clear: both;
//   &:last-of-type {
//     margin-bottom: 0;
//   }
// }
