/**
*
* Ember table
* Overriding the default styles for ember-table. Tears.
*
**/

.ember-table-tables-container {
  background: $colorBrown300;
  border: none;
}

.ember-table-header-row, .ember-table-header-container .ember-table-table-fixed-wrapper {
  background: $colorBrown500;
}

.ember-table-header-cell {
  background: inherit;
  color: $colorBlack;
}

.ember-table-header-container {
  box-shadow: none;
  border-width: 0;
}

.ember-table-content {
  font-size: $fontSmall;
}

.ember-table-color-marker {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.ember-table-header-cell .ember-table-content-container .ember-table-content {
  font-weight: 300;
  padding: $baseSpace/2 $baseSpace;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ember-table-body-container .ember-table-content, .ember-table-footer-container .ember-table-content {
  padding: $baseSpace/2 $baseSpace;
}

.ember-table-cell {
  border-right: 1px solid $colorBrown400;
  &:last-of-type {
    border-right: none;
  }
}

.ember-table-table-row {
  border-bottom: 1px solid $colorBrown400;
}

.ember-table-hover div {
  background: $colorBrown100;
}
