/**
*
* Explanation
*
*
**/
.explanation {
  margin: $baseSpace 0;
  font-family: $sans;
}

.explanation__title {
  font-size: $fontLarge;
}

.explanation__p {
  font-size: $fontSmall;
  font-family: $serif;
  margin: $baseSpace/4;
}

.explanation__btn {
  font-size: $fontSmall;
  background: $colorBrown500;
  display:block;
  width: auto;
  margin:0 auto;
  box-shadow: inset 0 -5px $colorGray;
}

