/**
*
* Graph Builder
*
**/

.builder {
  background: $colorBrown200;
}

.builder__header {
  text-align: center;
}

.builder__graph__wrap {
  height: 600px;
  padding: $baseSpace;
  border: 1px solid $colorBrown500;
  overflow-y: scroll;
}
