/**
*
* Index
*
**/

.index {
  // background: $colorBrown200;
}
.index__section {
  padding: 0;
  display: relative;
}

.stream__section.index__section {
  margin-bottom: 0;
}

.stream__section.search {
  background: $colorGrayDark;

  h3, form {
    max-width: 100rem;
    margin: 0 auto;
  }

  h3 {
    padding: $baseSpace 0;
  }
}

.index__header__wrap {
  background-size: 40rem;
  padding: $baseSpace;
}

.index__header {
  max-width: 100rem;
  background: $colorBrown200;
  margin: 0 auto;
}

.stream__head.index__head {
  margin-bottom: $baseSpace;
  max-width: 100rem;
}

.index__search__wrap {
}

// Views

.index__viewmod {
  @include clearfix;
  z-index: $zIndex-1;
  padding: 0 $baseSpace * 3 $baseSpace * 3 $baseSpace * 3;
  margin-bottom: $baseSpace * 3;
}

.index__view__wrap {
  display: flex;
  flex-direction: row;
  &:first-of-type {
    margin-bottom: $baseSpace * 2;
  }
  &:nth-of-type(2) {
    float: right;
    margin-bottom: $baseSpace * -5;
  }
}

.index__view__img {
  max-width: 20rem;
  max-height: 20rem;
  box-shadow: 1px 1px 5px $colorBlack;
}

.index__view__copy {
  padding: $baseSpace * 2;
  background: $colorBrown300;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

// Complexity figure

.index__complexity__mod {
  padding: 0 $baseSpace * 3;
}

.index__complexity__wrap {
  max-width: 80.6rem;
  margin: 0 auto;
  display: flex;
}

.section__complexity__graph {
  position: relative;
}

.section__complexity__copy {
  margin: $baseSpace 0 $baseSpace $baseSpace*6;

}

.section__complexity__bar {
  position: absolute;
  bottom: 0;
  width: $baseSpace * 1.5;
  background: $colorBrown500;
  &:before {
    font-size: $fontTiny;
    position: absolute;
    top: -2rem;
    width: $baseSpace * 1.5;
    text-align: center;
  }
}

.section__complexity__bar--wef {
  top: 84.5304%;
  // &:before {
  //   content: '2.8%';
  // }
}

.section__complexity__bar--complexity {
  top: 0;
  left: $baseSpace * 2.5;
}

.index__complexity__figure__wrap {
  background: $colorBrown300;
  padding: $baseSpace * 2;
  display: flex;
  flex-wrap: wrap;
}

.index__figure__wrap {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  padding-right: $baseSpace;
  border-right: 1px solid $colorBrown500;
  align-content: center;
}

.index__figure__head {
  width: 100%;
  margin-bottom: $baseSpace;
  max-width: 40rem;
}

.index__figure {
  width: 50%;
  &:first-of-type {
    padding-right: $baseSpace;
  }
  &:last-of-type {
    padding-left: $baseSpace;
  }
}

.index__figure__bignum {
  font-size: $fontHuge;
  font-family: $sansAlt;
  letter-spacing: -2px;
  line-height: 100%;
}

.index__cta__wrap {
  width: 40%;
  padding-left: $baseSpace;
}

.index__complexity__cta {
  margin-bottom: $baseSpace * 2;
}

.index__complexity__cta--pageheader {
  display: inline-block;
  margin-bottom: 0;
}

// Research featured in media grid
.index__featuredin__wrap {
  margin: 0 $baseSpace*3;
  background: $colorBase;
  padding: $baseSpace * 2;
  margin-top: 5rem !important;
}

.index__featuredin__list {
  display: flex;
  align-items: center;
}

.index__featuredin__item {
  text-align: center;
  padding: 0 $baseSpace/2;
  flex: 1;
  &:first-of-type {
    padding: 0 $baseSpace 0 0;
  }
  &:last-of-type {
    padding-right: 0 0 0 $baseSpace;
  }
}

.index__featuredin__img {
  width: 100%;
}

// Crystal ball questions

.index__questions__mod {
  margin-bottom: $baseSpace * 3;
}

.index__questions__wrap {
  margin: 0 auto;

  .section__head {
    margin: $baseSpace*3 0 $baseSpace*3 0;
    color: $colorYellow;
    text-transform: uppercase;
    font-size: 4rem;
  }
}

.index__topics__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: flex-start;
  margin-right: -$baseSpace;
  overflow: hidden;
  height: auto;
  margin-bottom: $baseSpace*2.5;
  position: relative;
}

.index__topics__item__wrap {
  width: 15%;
  height: 100%;
  min-width: 25rem;
  flex: 1 1 17%;
  -webkit-flex: 1 1 17%;
  margin-top: -$baseSpace;
  @media screen and (max-width: 960px) {
    flex: 1 1 50%;
    -webkit-flex: 1 1 50%;
  }
  @media screen and (max-width: 650px) {
    flex: 1 1 100%;
    -webkit-flex: 1 1 100%;
  }
}

.index__topics__image {
  width: 100%;
}

.index__topics__item {
  padding: $baseSpace;
  margin-right: $baseSpace;
  position: relative;
  border-top: $baseSpace solid $colorWhite;
  h4, .ember-view, ul {
    position: relative;
  }

  .section__subhead {
    font-family: $sansSC;
    text-transform: lowercase;
    font-weight: 500;
    line-height: 1.1em;
    min-height: 4.5rem;
    color: $colorGray;
  }
}

.index__topics__vspacer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200rem;
  background: $colorGrayLightest;
}

.index__questions__item {
  margin-bottom: $baseSpace / 2;
  position: relative;
  &:last-of-type {
    margin-bottom: 0;
  }

  i {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.index__questions__item__wrap {
  padding-left: 3rem;
  width: 100%;
  &.more {

    a {
      display: inline-block;
      font-family: $serif;
    }

    &:after {
      content: "\f101";
      font-family: $icon;
      display: inline-block;
      position: relative;
      top: 1px;
      font-size: .8em;
    }
  }
}

.index__questions__link {
  font-size: $fontSmall;
  display: block;

  &.index__questions__link--viewall {
    font-style: italic;
    font-weight: 400;
    margin-top: $baseSpace;
    color: $colorGray;
    &:after {
      content: "\f101";
      font-family: $icon;
      display: inline-block;
      position: relative;
      top: 0px;
      font-size: .8em;
    }
  }
}

.index__dropdown__wrap {
  width: 100%;
  margin-bottom: $baseSpace/2;
}

// section for onboarding info
.index__section.onboarding {
  background: $colorGrayLightest;
  padding-top: $baseSpace;
}

.index__section.complexity .column__container {
  padding-top: $baseSpace;
}

.index__section.onboarding p {
  padding-bottom: $baseSpace;
  font-family: $sans;
  font-size: $fontSmall;
}

.onboarding--glyphs {
  display: block;
  color: $colorRed;
  margin-top: $baseSpace;
  margin-bottom: $baseSpace/2;
}

.onboarding--glyphs li {
  display: inline-block;
  vertical-align: top;
  width: 10rem;
  margin-right: $baseSpace/5;
  text-align: center;
}

.onboarding--glyphs h6 {
  font-family: $sansSC;
  text-transform: lowercase;
  font-weight: 600;
  font-size: $fontSmall;
  width: 10rem;
  height: 4rem;
  line-height: 1em;
  margin-top: .5rem;
}

.onboarding--glyphs--icon {
  &:before {
    transition: color $animationTime $animationEasing;
    margin: 0 auto;
    font-size: $fontXXLarge;
    display: block;
  }
}

.index__featuredin__wrap {
  margin: 0;
}

.title_yellow{
  color: $colorYellow;
  text-transform: uppercase;
  font-size: 4rem;
}

.text_yellow{
  color: $colorYellow;
}

.title_white{
  color: $colorWhite;
  text-transform: uppercase;
  font-size: 4rem;
}

.stream__section__subhead__wrap__white{
  color: $colorWhite;
  text-transform: uppercase;
  padding-right: 1rem;
}

.update__sections__head__wrap__white{
  color: $colorWhite;
  text-transform: uppercase;
  font-size: 3rem;
}

.dropdown-update .ui-selectmenu-button{
  box-shadow: none;
  width: 100% !important;
  background: none;
  color: $colorWhite;
  border: solid 1px $colorWhite;
  border-radius: 3px;
}

.ui-selectmenu-button.ui-state-hover{
  background: none !important;
  color: $colorWhite;
  opacity: 0.8;
}

.ui-menu-item{
  background: $colorBase !important;
  color: $colorWhite !important;
}

.section__message_dropbox{
  color: $colorYellow;
}

.section__card-cian-sophistication_route{
  background: $colorSecondary;
  padding: 4rem;
}

.section__card-cian-sophistication_route > h1,p{
  color: $colorBlack;
}

.section__card-yellow > h1{
  color: $colorBlack;
}

.section__card-yellow{
  background: $colorYellow;
  padding: 4rem;
}

.bordered-div-yellow{
  border: solid 1px $colorYellow;
}

.section__card__wrap__yellow{
  color: $colorYellow;
  text-transform: uppercase;
  font-size: 8rem;
}

.section__card__wrap__white{
  color: $colorWhite;
  text-transform: uppercase;
  font-size: 8rem;
}

.section__card__profile{
  margin-top: 5rem;
  margin-left: 3rem;
  button{
    margin-top: 4rem;
  }
}

.btn-large{
  font-size: 3rem;
}
