/**
*
* Layout
*
**/

.body {
  height: 100%;
  background: $colorBrown200;
}

.stream {
  display: flex;
  flex-wrap: wrap;
  min-height:800px;
}

.stream__article {
  flex: 1;
}

.stream__article--indent--left {
  margin: $baseSpace*1.5 $baseSpace*3 $baseSpace*3 0;
  padding-left: $sidebarWidth;
  border-left: $baseSpace $odGreen solid;
}

.stream__article--no--indent {
  margin: $baseSpace*3;
}