/**
*
* Layout
*
**/

.body {
  background: $colorNavy800;
  height: 100%;
}

.stream {
  display: flex;
  flex-wrap: wrap;
}

.stream__article {
  margin: $baseSpace*3 $baseSpace*3 0 0;
  padding-left: $sidebarWidth;
  flex: 1;
}
