/**
*
* Pageheader
*
**/

.header--pageheader {
  background: $colorRed;
  padding: 0 $baseSpace;
}

.pageheader__wrap {
  padding: $baseSpace/2 0;
  position: relative;
  max-width: $xlarge;
  margin: auto;
}

// Branding

.branding {
}

.branding__logo {
  width: 12rem;
  margin-top: -5px;
}

.branding__slogan {
  color: $colorWhite;
  font-weight: 700;
  font-size: $fontSmall;
  @include offset-text;
  .index & {
    display: none;
  }
}


// Nav

.pageheader__nav {
  font-size: $fontSmall;
}

.pageheader__nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 0;
  height: 100%;
  .pageheader__search__wrap {
    margin-left: auto;
  }
}

.pageheader__search__wrap {
  width: 50rem;
  display: none;
}

.pageheader__link {
  transition: $animationTime color $animationEasing;
  color: $colorWhite;
  margin: 0 $baseSpace $baseSpace/2 0;
  font-weight: 500;
  display: inline-block;
  @include offset-text;
  font-family: $sans;
  &:hover {
    color: $colorWhite;
  }
}

.pageheader__link--is--active {
  color: $colorWhite;
  font-weight: 500;
}


// Toggle

.togglemod--languages {
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin: $baseSpace/2+.25 0;
}

.toggle--languages {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
  &:checked ~ .toggle__label:after {
    margin-left: 15px;
  }
}

.toggle__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: $baseSpace / 10;
  width: 35px;
  height: 20px;
  background-color: $colorWhite;
  border-radius: 20px;
  margin: 0 auto;
  &:before,
  &:after {
    display: block;
    position: absolute;
    content: '';
  }
  &:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: $colorRed;
    border-radius: $baseSpace / 2;
  }
  &:after {
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: $colorWhite;
    border-radius: 8px;
  }
  &:hover:after {
    background-color: $colorWhite;
  }
}

.toggle__label__text {
  color: $colorWhite;
  font-size: $fontSmall;
  display: inline;
  font-weight: 600;
  vertical-align: 6px;
  font-family: $sans;
  @include offset-text;
}

// Menu

.pageheader__menu {
  position: absolute;
  top: 0;
  right: $baseSpace * 4;
  font-family: $sans;
  color: $colorWhite;
  font-size: $fontSmall;
  font-weight: 600;
  @include offset-text;
  a { 
    color: $colorWhite; 
    &:hover {
      opacity: .8; 
    }
  }

  li {
    display: inline-block;
    margin-right: $baseSpace;
    padding: $baseSpace*.56 0;
  }

  @media screen and (max-width: 720px) {
    position: relative;
    top: 0;
    right: 0;
    padding: $baseSpace/2 0;
    li {padding: $baseSpace/5 0;}
  }

}

//special homepage pageheader
.header--pageheader--home {
  height: auto;
  min-height: 400px;
  position: relative;

  .index__header {
    color: white;
    background: none;
  }

  .index__header__wrap {
    padding: $baseSpace*2 0 0 0;
    max-width: $baseSpace*20;
  }

  h1.stream__head {
    color: $colorRed;
    letter-spacing: 0;
    font-size: $fontXLarge;
    margin: $fontXLarge/3 0 $fontXLarge/3 0;
    text-shadow: 0 0 10px rgba($colorBlack, .4);
  }

  h2 {
    color: $colorRed;
    font-family: $sans;
    font-weight: 700;
    text-shadow: 0 0 10px rgba($colorBlack, .7);
  }
}

//special colors for pageheader__home
.header--pageheader--home .pageheader__menu a { color: $colorRed; }
.header--pageheader--home .pageheader__nav .toggle__label__text { color: $colorRed; }
.header--pageheader--home .pageheader__nav .toggle__label {
  background-color: $colorRed;
  &:before { background-color: white; }
  &:after { background-color: $colorRed; }
}

.pageheader__bground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.pageheader__home__cap { 
  display: none; 
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $colorRed;
}

.header--pageheader--home .pageheader__home__cap { display: block; }
.stream__section .pageheader__home__cap {
  display: block;
  max-width: $xlarge;
  margin-bottom: $baseSpace;
}  

//special style for the search box 

.pageheader__homeintro .search__wrap {
  margin-bottom: $baseSpace;
}
