/**
*
* Pageheader
*
**/

.header--pageheader {
  background: $colorBase;
  color: $colorWhite;
}
.navbar_button{
  background: $colorBase;
}
.navbar{
  border-radius: 0.5rem;
}
.pageheader__wrap {
  position: relative;
  margin: auto;
  padding:4vw;
  padding-top: 10vh;
  padding-bottom: 5vh;
}
// Branding

.branding {
  height:7vh;
}

.branding__logo {
<<<<<<< HEAD
  height: 8vh;
 // width: 15vh/;
  //width: ;
 // height: 15vh;
  //width: 20vw;
  padding: 0px;
=======
  height: 100%;
  padding: 0;
>>>>>>> c0b707a273c3db5783be59e7f821e376d05ff041
}
.branding__logo__social_network {
  height: 2vh;
  width: 2vw;
}

.branding__slogan {
  color: $colorWhite;
  font-weight: 700;
  font-size: $fontSmall;
  @include offset-text;
  .index & {
    display: none;
  }
}


// Nav

.pageheader__nav {
  font-size: $fontSmall;
}

.pageheader__nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 0;
  height: 100%;
  .pageheader__search__wrap {
    margin-left: auto;
  }
}

.pageheader__search__wrap {
  width: 50rem;
  display: none;
}

.pageheader__link {
  transition: $animationTime color $animationEasing;
  color: $colorWhite;
  margin: 0 $baseSpace $baseSpace/2 0;
  font-weight: 500;
  display: inline-block;
  @include offset-text;
  font-family: $sans;
  &:hover {
    color: $colorWhite;
  }
}

.pageheader__link--is--active {
  color: $colorWhite;
  font-weight: 500;
}


// Toggle
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20rem; }
.toggle.ios .toggle-handle { border-radius: 20rem; }
.togglemod--languages {
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin: $baseSpace/2+.25 0;
}

.toggle--languages {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
  &:checked ~ .toggle__label:after {
    margin-left: 19px;
  }
}

.toggle__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 0;
  width: 5rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 20px;
  border-width: 0.3rem;
  border-color: white;
  margin: 0 auto;
  &:before,
  &:after {
    display: block;
    position: absolute;
    content: '';
  }
  &:before {
<<<<<<< HEAD
    content: '';
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: transparent;
    border-radius: 11px;
    transition: all 0.25s linear;

=======
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: $colorBase;
    border-radius: $baseSpace / 2;
>>>>>>> c0b707a273c3db5783be59e7f821e376d05ff041
  }
  &:after {
    width: 25px;
    height: 24px;
    background-color: $colorWhite;
    border-radius: 22px;
    transition: all 0.4s ease-in-out;
  }
  
}

.toggle__label__text {
  @include offset-text;
  color: $colorWhite;
  font-size: $fontBase;
  display: inline;
  vertical-align: 6px;
  padding:2px;  
  font-family: $sans;
}

// Menu
.pageheader__title {
  font-family: $sans;
  color: $colorWhite;
  font-size: $fontBase;
  font-weight: 600;
  position: absolute;
  top: 0;
  padding: 1.1rem 0;
  a {
    color: $colorWhite;
    &:hover {
      opacity: .8;
    }
  }
}

.header--pageheader--home {
  .pageheader__title {
    color: $colorRed;
  }
}

.pageheader__menu {
  @include offset-text;
  position: absolute;
  top: 0;
  right: $baseSpace * 4;
  font-family: $sans;
  color: $colorWhite;
  font-size: $fontSmall;
  font-weight: 600;
  a {
    color: $colorWhite;
    &:hover {
      opacity: .8;
    }
  }

  li {
    display: inline-block;
    margin-right: $baseSpace;
    padding: $baseSpace*.56 0;
  }

  @media screen and (max-width: 720px) {
    position: relative;
    top: 0;
    right: 0;
    padding: $baseSpace/2 0;
    li {padding: $baseSpace/5 0;}
  }

}

//special homepage pageheader
.header--pageheader--home {
  height: auto;
  min-height: 400px;
  position: relative;

  .index__header {
    color: white;
    background: none;
  }

  .index__header__wrap {
    padding: $baseSpace*1.5 0 0 0;
    max-width: fit-content;
  }

  .stream__head {
    color: $colorWhite;
    letter-spacing: 0;
    font-size: $fontXLarge;
    margin: $fontXLarge/3 0 $fontXLarge/3 0;
    text-shadow: 0 0 10px rgba($colorBlack, .4);
  }

  .stream__subhead {
    color: $colorRed;
    font-family: $sans;
    font-weight: 700;
    text-shadow: 0 0 10px rgba($colorBlack, .7);
  }
}

//special colors for pageheader__home
.header--pageheader--home .pageheader__menu a { color: $colorRed; }
.header--pageheader--home .pageheader__nav .toggle__label__text { color: $colorRed; }
.header--pageheader--home .pageheader__nav .toggle__label {
  background-color: $colorRed;
  &:before { background-color: white; }
  &:after { background-color: $colorRed; }
}

.pageheader__bground {
 display: none;
}
.header--pageheader--home .pageheader__bground {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.pageheader__home__cap {
  display: none;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $colorRed;
}

.header--pageheader--home .pageheader__home__cap { display: none; }

.stream__section .pageheader__home__cap {
  display: block;
  max-width: $xlarge;
  margin-bottom: $baseSpace;
}

//special style for the home search box
.pageheader__homeintro .search__wrap {
  margin-bottom: $baseSpace;
  width: auto;
  margin-right: $baseSpace;
}

.pageheader__homeintro .index__complexity__cta {
  margin-bottom: $baseSpace;
}

.header--pageheader--home .search__field__wrap {
  width: 70rem;
  margin-right:-4px;
}

.header--pageheader--home .search {
  background: $colorWhite;
}

.bordered-div{
    border: solid 1px $colorWhite;
}
.social_network_marging{
  height: 100%;
}
.pageheader__menu__item{
  color: $colorWhite;
  text-transform: uppercase;
  &:hover {
    opacity: 0.8;
    color: $colorWhite;
    text-decoration: none;
  }
}

.index__header__wrap .index__header .stream__head{
  color: $colorYellow;
  text-transform: uppercase;
}

.index__header__wrap .index__header .stream__subhead{
  color: $colorWhite;
  text-transform: uppercase;
  font-size: $fontLarge;
}

.btn btn-outline-warning{
  color: $colorYellow;
  border-color: $colorYellow;
}

.navbar{
  padding: 0;
}

@media (min-width: 768px){
  .border-div-navbar {
    border: 1px solid $colorWhite;
  }
}
