/**
*
* Pageheader
*
**/

.header--pageheader {
  background: $odGreen;
}

.pageheader__wrap {
  padding: $baseSpace $baseSpace*2;
  position: relative;
}

// Branding

.branding__logo {
  width: 14rem;
  margin-bottom: $baseSpace / 2;
}

.branding__slogan {
  color: $colorWhite;
  font-weight: 700;
  font-size: $fontSmall;
  @include offset-text;
  .index & {
    display: none;
  }
}

.pageheader__caption {
	font-size: $fontSmall;
	a {
		color: #fff;
		font-weight: 300;
	}
}

// Nav

.pageheader__nav {
  font-size: $fontSmall;
  float: right;
}

.pageheader__search__wrap {
  width: 50rem;
  padding-bottom: 0;
  .btn--search {
	  background: #666;
	  color: $colorWhite;
	  &:hover, &:active, &:focus {
	    background: $odGrayLight;
		color: $odGreen;
	  }
	}
}

.pageheader__link {
  transition: $animationTime color $animationEasing;
  color: rgb(32,120,95);
  margin: 0 $baseSpace $baseSpace/2 0;
  font-weight: 700;
  display: inline-block;
  @include offset-text;
  &:hover {
    color: $colorWhite;
  }
}

.pageheader__link--is--active {
  color: $colorWhite;
}


// Toggle

.togglemod--languages {
  display: inline-block;
  vertical-align: -6px;
  padding: $baseSpace;
}

.toggle--languages {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
  &:checked ~ .toggle__label:after {
    margin-left: 15px;
  }
}

.toggle__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: $baseSpace / 10;
  width: 35px;
  height: 20px;
  background-color: $colorWhite;
  border-radius: 20px;
  margin: 0 auto;
  &:before,
  &:after {
    display: block;
    position: absolute;
    content: '';
  }
  &:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: $colorRed;
    border-radius: $baseSpace / 2;
  }
  &:after {
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: $colorWhite;
    border-radius: 8px;
  }
  &:hover:after {
    background-color: $colorWhite;
  }
}

.toggle__label__text {
  color: $colorWhite;
  font-size: $fontSmall;
  display: inline;
  font-weight: 500;
  vertical-align: 6px;
  @include offset-text;
}

