/**
*
* Page header
*
**/

.page__header {
  text-align: center;
  margin: $baseSpace * 2;
}

.page__head {
  font-size: $fontHuge;
  margin: 0 auto;
}

.breadcrumb {
  display: inline-block;
  margin-right: $baseSpace / 2;
  &:last-of-type {
    margin-right: 0;
  }
}
