/**
*
* Profile
*
**/

.profile {
  background: $colorBrown200;
  padding-bottom: $baseSpace * 2;
}

.profile__article {
  border-left: $baseSpace $colorRed solid;
  border-image: url(../assets/img/general/border--red.svg);
  border-image-slice: 0 100%;
}
