/**
*
* Recirc
*
**/

.recirc {
  position: relative;
  // background-image: url('/assets/img/hero_images/front-header-network.png');
  // background-size: cover;
  // background-position: center center;
}

.index__section.recirc {
  background-color: $colorGrayLightest;
  padding: $baseSpace*2;
}

.recirc__bground {
  background-color: $colorBrown500;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  opacity: 0.35;
}

.recirc__wrap {
  position: relative;
}

.recirc__head {
  margin: 0 0 $baseSpace 0;
  @include offset-text;
}