/**
*
* Recirc
*
**/

.recirc {
  position: relative;
}

.recirc__bground {
  background-color: $colorBrown500;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  opacity: 0.35;
}

.recirc__wrap {
  padding: $baseSpace * 3;
  position: relative;
}

.recirc__head {
  margin: 0 0 $baseSpace 0;
  @include offset-text;
}
