/**
*
* Recirc
*
**/

.recirc {
  position: relative;
}

.index__section.recirc {
  background-color: $colorGrayLightest;
  padding: $baseSpace*2;
}

.recirc__bground {
  background-color: $colorBrown500;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  opacity: 0.35;
  background-position: 0px -70px;
}

.recirc__wrap {
  position: relative;
}

.recirc__head {
  margin: 0 0 $baseSpace 0;
  @include offset-text;
}

.stream.index .recirc__wrap {
  margin-left: $baseSpace*2;
}