/**
*
* Search
*
**/

.results {
  height: 100%;
  padding: $baseSpace*3;
}

.results__head {
  font-size: $fontXLarge;
  color: $colorRed;
  margin-bottom: $baseSpace*2;
  margin-top: $baseSpace;
  line-height: 100%;
  font-family: $sansAlt;
  @include offset-text;
}

.results__subhead {
  color: $colorBlack;
  font-size: $fontLarge;
  @include offset-text;
  margin-top: $baseSpace;
}

.results__list {
  margin: $baseSpace 0 $baseSpace*2;
}

@media (min-width: 1200px) {
  .results__list {
    // max-width: 75%;
  }
}

.results__item {
  display: flex;
  align-items:center;
  justify-content: space-between;
  border-bottom: solid 1px $colorNavy600;
  margin: $baseSpace 0 0;
  padding-bottom: $baseSpace;
  &:last-of-type {
    border-bottom: none;
  }
}

.results__text {
  margin-right: auto;
  padding-right: $baseSpace;
  max-width: 70rem;
}

.results__breadcrumb {
  color: $colorBlack;
  font-size: $fontSmall;
  @include offset-text;

  font-weight: 400;
  display: inline-block;
  margin-right: $baseSpace / 3;
  &:after {
    content: '/';
    margin-left: $baseSpace / 3;
    color: $colorGray;
  }
  &:last-of-type {
    margin-right: 0;
    &:after {
      content: none;
    }
  }
}

.results__name {
  color: $colorBlack;
  font-weight: 700;
  @include offset-text;
}

.results__btn {
  margin: 0 $baseSpace 0 0;
  flex: 0 0 auto;
  width: auto;
  &:last-of-type {
    margin-right: 0;
  }
}

.results__copy--postscript {
  margin: $baseSpace*2 0;
  text-align: left;
  color: $colorGray;
  @include offset-text;
  padding: $baseSpace/2 0;
  border-top: 1px solid $colorGrayLight;
  width: 25%;

}

.results__reference {
    margin-top: 10rem;
    padding-top: 4rem;
    border-top: 1px solid $colorGrayLight;
}

.results__reference__menu {
    font-family: $sans;
    font-size: $fontBase;
    font-variant: small-caps;
    margin-bottom: 3rem;
}

.results__reference__menuitem {
    display: inline-block;
    padding-right: 1rem;
}

.results__reference__menuitem__active {
    font-weight: bold;
}

.results__reference__menuitem + .results__reference__menuitem{
    border-left: 1px $colorGrayLighter solid;
    padding-left: 1rem;
}


.results__reference__body {
    columns:5;
    li{
        margin-bottom: 1rem;
        font-family: $sans;
        font-size: $fontTiny;
    }

}
