/**
*
* Search
*
**/

.results {
  height: 100%;
  padding: $baseSpace*3;
}

.results__head {
  font-size: $fontXLarge;
  color: $colorRed;
  margin-bottom: $baseSpace*2;
  margin-top: $baseSpace;
  line-height: 100%;
  font-family: $sansAlt;
  @include offset-text;
}

.results__subhead {
  color: $colorBlack;
  font-size: $fontLarge;
  @include offset-text;
  margin-top: $baseSpace;
}

.results__list {
  margin: $baseSpace 0 $baseSpace*2;
}

@media (min-width: 1200px) {
  .results__list {
    max-width: 75%;
  }
}

.results__item {
  display: flex;
  align-items:center;
  justify-content: space-between;
  border-bottom: solid 1px $colorNavy600;
  margin: $baseSpace 0 0;
  padding-bottom: $baseSpace;
  &:last-of-type {
    border-bottom: none;
  }
}

.results__text {
  margin-right: auto;
  padding-right: $baseSpace;
}

.results__breadcrumb {
  color: $colorBlack;
  font-size: $fontSmall;
  @include offset-text;
}

.results__name {
  color: $colorBlack;
  font-weight: 700;
  @include offset-text;
}

.results__btn {
  margin: 0 $baseSpace 0 0;
  flex: 0 0 auto;
  &:last-of-type {
    margin-right: 0;
  }
}

.results__copy--postscript {
  margin: $baseSpace*2 0;
  text-align: left;
  color: $colorGray;
  @include offset-text;
  padding: $baseSpace/2 0;
  border-top: 1px solid $colorGrayLight;
  width: 25%;

}

