/**
*
* Search
*
**/

.search {
  background: $colorNavy800;
  padding-bottom: $baseSpace * 2;
  min-height: 800px;
}

.search__header {
  text-align: center;
  padding: $baseSpace;
}

.search__copy {
  margin: 0 0 $baseSpace;
  color: $colorWhite;
  @include offset-text;
}

.search__copy--intro {
  text-align: center;
}

.search__copy--postscript {
  margin: $baseSpace 0 0;
  color: $colorGrayLight;
}

.search__header__head {
  font-size: $fontXXLarge;
  margin: 0 auto;
  color: $colorWhite;
}

.search__section {
  margin: 0 $baseSpace*3 $baseSpace*3;
}

.results__section {
  margin: 0 $baseSpace*3 $baseSpace;
}

.results__header {
  font-size: $fontLarge;
  margin: 0 auto $baseSpace;
  color: $colorWhite;
  @include offset-text;
}

.search__wrap {
  display: flex;
  align-items: stretch;
}

.search__field {
  transition: background 0.2s ease-in-out;
  background: $colorWhite;
  font-size: $fontSmall;
  font-weight: 300;
  padding: $baseSpace/2 $baseSpace;
  flex: 1 1 auto;
  &:active, &:focus {
    outline: 0;
    &::-webkit-input-placeholder {
      color: $colorGray;
    }
  }
  &::-webkit-input-placeholder {
    transition: color 0.2s ease-in-out;
    color: $colorGrayLight;
    weight: 500;
    font-size: $fontSmall;
  }
}

.search__btn {
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
  color: $colorGrayLighter;
  background: $colorNavy600;
  padding: $baseSpace/2 $baseSpace;
  &:hover, &:active, &:focus {
    background: $colorNavy400;
    outline: 0;
    color: $colorWhite;
  }
}

.search__btn--result {
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 15px;
  font-size: $fontSmall;
  font-family: $sansAlt;
  text-align: center;
  @include offset-text;
  flex: 0 0 auto;
  &:last-of-type {
    margin-right: 0;
  }
}

.results__section {
  margin: $baseSpace $baseSpace*3;
}

.search__results {
  margin: $baseSpace 0 $baseSpace*2;
}

.search__result {
  display: flex;
  align-items:center;
  justify-content: space-between;
  border-bottom: solid 1px $colorNavy600;
  margin: $baseSpace 0 0;
  padding-bottom: $baseSpace;
  &:last-of-type {
    border-bottom: none;
  }
}

.search__result__text {
  margin-right: auto;
  padding-right: $baseSpace;
}

.search__result__breadcrumb {
  color: $colorGray;
  font-size: $fontSmall;
  @include offset-text;
}

.search__result__name {
  color: $colorGrayLightest;
  @include offset-text;
}


