/**
*
* Search
*
**/

.search {
  background: $colorNavy600;
  padding-bottom: $baseSpace * 2;
  height: 100%;
}

.search__header{
  text-align: center;
  padding: $baseSpace;
}

.search__header__head {
  font-size: $fontXXLarge;
  margin: 0 auto;
  color: $colorWhite;
}

.search__section {
  margin: 0 $baseSpace*3;
}

.results__section {
  margin: $baseSpace $baseSpace*3;
}

.results__header {
  font-size: $fontLarge;
  margin: 0 auto;
  color: $colorWhite;
  text-transform: uppercase;
  font-style: italic;
  border-bottom: solid 1px $colorWhite;
}

.search__wrap {
  display: flex;
}

.search__field {
  width: 90%;
  color: $colorGrayLightest;
  font-size: $fontSmall;
  margin-right: $baseSpace;
  border-bottom: solid 1px $colorWhite;
  &::placeholder {
    color: $colorGrayLightest;
    font-size: $fontSmall;
  }
}

.search__button {
  margin-bottom: 0;
  margin-top: 0;
  font-size: $fontSmall;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem;
}

.search__button--query {
  color: $colorWhite;
  border: solid 1px $colorWhite;
}

.search__button--result {
  color: $colorGray;
  border: solid 1px $colorGray;
  &:first-of-type{
    margin-right: 1rem;
  }
}

.results__section {
  margin: $baseSpace $baseSpace*3;
}

.search__results {
  margin-top: $baseSpace;
  &--none {
    margin-top:$baseSpace;
    color: $colorWhite;
    font-size: $fontSmall;
    text-align: center;
  }
}

.search__result {
  display: flex;
  align-items:center;
  justify-content: space-between;
  border-bottom: solid 1px $colorWhite;
  margin-top: $baseSpace;
  padding-bottom: $baseSpace;
}

.search__result__text {
  margin-right:auto;
}

.search__result__breadcrumb {
  color: $colorGray;
  font-size: $fontSmall;
}

.search__result__name {
  color: $colorGrayLightest;
}

