/**
*
* JQuery UI Selectmenu
*
**/

// visible button

.ui-selectmenu-button {
  padding: 1rem;
  display: block;
  width: 100%;
}

.ui-icon {}

.ui-selectmenu-text {}


//expanded menu

.ui-selectmenu-menu {}

.ui-menu {}

.ui-menu-item {}

.ui-menu-item.ui-state-focus {}

