/**
*
* JQuery UI Selectmenu
*
**/

// visible button
.ui-selectmenu-button {
  display: block;
  width: 100% !important;
  font-family: $sans;
  outline: none;
  background: $colorGrayLight;
  color: $colorGrayDark;
  box-shadow: inset 0 -5px $colorRed;
  transition: color $animationTime $animationEasing;
  padding: $baseSpace/2 $baseSpace;
  font-size: $fontSmall;
  cursor: pointer;
  position: relative;
  margin-bottom: $baseSpace/2;

  &.ui-state-hover {
    background: $colorGrayLighter;
  }
}

.ui-icon {
  right: 0.5em;
  left: auto;
  margin-top: -13px;
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  font-family: $icon;

  &:after {
    content: "\f107";
  }
}

.ui-selectmenu-button[aria-expanded="true"] .ui-icon {}

//expanded menu

.ui-selectmenu-menu {
  display: none;
}

.ui-selectmenu-open {
  display: block;
  font-family: $sans;
  color: white;
  margin-top: 5px;
  outline: none;
}
.ui-menu {
  height: 700px;
  overflow: auto;
  overflow-x: hidden;
}

.ui-menu-item {
  font-size: $fontSmall;
  color: $colorGrayDark;
  background: $colorGrayLight;
  padding: $baseSpace/2 $baseSpace;
  font-size: $fontSmall;
  cursor: pointer;
  outline: none;

  &:first-of-type {}

  &:hover {
    background: $colorGrayLighter;
  }
}

.overflow {
  height: 30rem;
}

