/**
*
* Side-Nav
*
**/

.side-nav {
  width: $sidebarWidth;
  text-align: right;
  position: absolute;
  left: 0;
}

.side-nav__item {
  padding: $fontSmall 0 $fontSmall $baseSpace*1.5;
  &:last-of-type {
    border-bottom: 1px solid $colorBlack;
  }
}

.side-nav__item__link {
  transition: color $animationTime $animationEasing;
  color: $colorGray;
  font-size: $fontSmall;
  display: block;
  font-weight: 300;
  &:hover {
    color: $colorGrayDark;
  }
}

.side-nav__item--active {
  color: $colorBlack;
}