/**
*
* Side nav
*
**/

.header--sidebar {
  background: $colorNavy;
  position: fixed;
  left: 0;
  width: $sidebarWidth;
  height: 100%;
  text-align: center;
  z-index: $zIndex-9;
}


// Branding
.branding {
  padding: $baseSpace;
}

.branding__logo {
  color: $colorWhite;
  font-size: $fontSmall;
  text-align: center;
  max-width: 100%;
  margin-bottom: $baseSpace/2;
}

.branding__slogan {
  color: $colorWhite;
  font-size: $fontTiny;
  @include offset-text;
}


// Layout
.sidebar__section {
  padding: $baseSpace;
  border-top: 1px solid $colorNavy800;
}

// Buttons
.sidebar__btn {
  font-size: $fontTiny;
  color: $colorNavy400;
  @include offset-text;
  &:hover {
    color: $colorWhite;
    .sidebar__btn__icon:before {
      cursor: pointer;
      color: $colorWhite;
    }
  }
}

.sidebar__btn__icon:before {
  display: block;
  color: $colorNavy400;
  font-size: $fontXLarge;
  margin: 0 auto;
}

.sidebar__btn--is--active {
  .sidebar__btn__icon:before {
    color: $colorWhite;
  }
  color: $colorWhite;
  font-weight: 500;
}

.sidebar__btn__icon--search:before {
  margin-bottom: $baseSpace/4;
}

.sidebar__btn--search {
  display: inline-block;
}

// Toggle
.toggle--languages {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
  &:checked ~ .toggle__label:after {
    margin-left: 20px;
  }
}

.toggle__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: $baseSpace / 10;
  width: 50px;
  height: 30px;
  background-color: $colorWhite;
  border-radius: 30px;
  transition: background $animationTime $animationEasing;
  margin: 0 auto;
  &:before,
  &:after {
    display: block;
    position: absolute;
    content: '';
  }
  &:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: $colorNavy;
    border-radius: $baseSpace / 2;
    transition: background $animationEasing;
  }
  &:after {
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    width: 18px;
    height: 18px;
    background-color: $colorWhite;
    border-radius: 18px;
    transition: margin $animationTime $animationEasing, background $animationTime $animationEasing;
  }
}

.toggle__label__text {
  color: $colorNavy400;
  font-size: $fontTiny;
  display: inline;
  vertical-align: 10px;
}

.toggle__label--is--active {
  color: $colorWhite;
}

