/**
*
* Side nav
*
**/

.header--sidebar {
  background: $colorNavy;
  position: fixed;
  left: 0;
  width: $sidebarWidth;
  height: 100%;
  box-shadow: 2px 0 4px rgba( 25, 25, 20, 0.2 );
  z-index: $zIndex-9;
}


// Branding
.branding {
  text-align: center;
  padding: $baseSpace $baseSpace $baseSpace*1.5;
}

.branding__logo {
  color: $colorWhite;
  font-size: $fontSmall;
  text-align: center;
  max-width: 100%;
  margin-bottom: $baseSpace/2;
}

.branding__slogan {
  color: $colorWhite;
  font-size: $fontSmall;
  @include offset-text;
}


// Layout
.sidebar__section {
  padding: $baseSpace $baseSpace;
  border-top: 1px solid $colorNavy800;
}

// Buttons
.sidebar__btn {
  font-size: $fontSmall;
  color: $colorNavy400;
  @include offset-text;
  cursor: pointer;
  &:hover {
    color: $colorWhite;
    .sidebar__btn__icon:before {
      color: $colorWhite;
    }
  }
}

.sidebar__btn--search:before {
  font-size: $fontTiny;
  font-family: $icon;
  content: '\f002';
}

.sidebar__btn__icon:before {
  display: block;
  color: $colorNavy400;
  font-size: $fontXLarge;
  margin: 0 auto;
}

.sidebar__btn--is--active {
  .sidebar__btn__icon:before {
    color: $colorWhite;
  }
  color: $colorWhite;
  font-weight: 500;
}

.nav__item__wrap {
  margin-bottom: $baseSpace/2;
}

.nav__item {
  display: none;
  &:checked ~ .nav__item__label {
    font-weight: 700;
    color: $colorWhite;
  }
  &:checked ~ .nav__list--sub {
    display: block;
  }
  &:checked ~ .nav__item__label:before {
    content: '\f0d7';
  }
}

.nav__item__label {
  font-weight: 500;
  color: $colorNavy400;
  &:before {
    font-size: $fontTiny;
    font-family: $icon;
    content: '\f0da';
  }
}

.nav__list--sub {
  display: none;
  margin-left: $baseSpace/1.5;
}




// Toggle
.toggle--languages {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
  &:checked ~ .toggle__label:after {
    margin-left: 20px;
  }
}

.toggle__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: $baseSpace / 10;
  width: 50px;
  height: 30px;
  background-color: $colorWhite;
  border-radius: 30px;
  transition: background $animationTime $animationEasing;
  margin: 0 auto;
  &:before,
  &:after {
    display: block;
    position: absolute;
    content: '';
  }
  &:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: $colorNavy;
    border-radius: $baseSpace / 2;
    transition: background $animationEasing;
  }
  &:after {
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    width: 18px;
    height: 18px;
    background-color: $colorWhite;
    border-radius: 18px;
    transition: margin $animationTime $animationEasing, background $animationTime $animationEasing;
  }
}

.toggle__label__text {
  color: $colorNavy400;
  font-size: $fontTiny;
  display: inline;
  vertical-align: 10px;
}

.toggle__label--is--active {
  color: $colorWhite;
}

