/**
*
* Side-Nav
*
**/

.side-nav {
  width: $sidebarWidth;
  text-align: left;
  position: absolute;
  left: 0;
}

.side-nav__list {
  &:last-of-type {
    display: none;
  }
}

.side-nav__item {
  padding: $fontSmall 0 $fontSmall $baseSpace*1.5;
  &:last-of-type {
    // border-bottom: 1px solid $colorGrayLight;
  }
}

.side-nav__item__link {
  transition: color $animationTime $animationEasing;
  color: $colorGrayLighter;
  font-size: $fontSmall;
  display: block;
  font-family: $sans;
  font-weight: 300;
  &:hover {
    color: $colorGrayLight;
  }
}

.side-nav__item--active {
  color: $colorGrayDark;
}
