/**
*
* Stepper
*
**/

.stepper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

// Stepper list

.stepper__list {
  width: 50%;
  padding-right: $baseSpace * 2;
}

.stepper__item {
  color: $colorBrown400;
  list-style: decimal-leading-zero;
  margin-left: $baseSpace * 1.5;
}

.stepper__item--is--active {
  color: $colorBlack;
}



// Vizmod in stepper

.stepper__vizmod {
  width: 50%;
  position: relative;
}

.stepper__controls {
  width: 100%;
  position: absolute;
  text-align: center;
  padding-bottom: $baseSpace * 3;
  border-top: 1px solid $colorBrown600;
}

.stepper__control {
  padding: $baseSpace/2 $baseSpace;
  background: $colorBrown900;
  color: $colorBrown100;
  cursor: pointer;
}

.stepper__control__progress {
  padding: $baseSpace/2 $baseSpace;
  pointer-events: none;
  @include absolute(bottom 0 left 0 right 0);
}

.stepper__control--left {
  @include absolute(bottom 0 left 0);
}

.stepper__control--right {
  @include absolute(bottom 0 right 0);
}
