/**
*
* Stream section
*
**/

.stream__section {
  margin-bottom: $baseSpace * 3;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.section__header {
  padding-top: $baseSpace;
  margin-bottom: $baseSpace;
}

.section__head {
  font-size: $fontLarge;
  line-height: $fontLarge;
  margin-bottom: $baseSpace/2;
  font-family: $sansAlt;
  -moz-osx-font-smoothing: grayscale;
}

.section__head--spacey {
  margin-bottom: $baseSpace;
}

// Builder
.stream__section--builder--body {
  background: $colorGreen;
}

.section__subhead {
  margin-bottom: $baseSpace/2;
  line-height: 120%;
  min-height: 5rem;
  vertical-align: bottom;
}

.section__p {
  max-width: 65rem;
  margin-bottom: $baseSpace;
}

