/**
*
* Stream section
*
**/

.stream__section {
  margin: $baseSpace*3;
}

.section__header {
  margin-bottom: $baseSpace;
}

.section__head {
  font-size: $fontXLarge;
  line-height: $baseSpace * 1.5;
  padding-bottom: $baseSpace / 2;
}

.section__intro {
  width: 66.66%;
  margin-bottom: $baseSpace;
}


// Recirc
.stream__section--recirc {
  margin: 0;
  padding: $baseSpace*3;
  background: $colorBrown300;
  text-align: center;
}

.section__head--recirc {
  text-align: center;
  margin-bottom: $baseSpace;
}

