/**
*
* Stream header
*
**/

.stream__img--hero {
  max-width: 100%;
  width: 100%;
  opacity: 0.75;
}

.stream__header {
  position: relative;
}

.stream__head__index{
  font-weight: bold;
  color: $colorGray;
  padding-right: 0;

  & img {
      margin: 0;
      padding: 0;
      display: inline-block;
      padding-bottom: 0.25rem;
      padding-left: 1rem;
      vertical-align: middle;
  }
}

.stream__header--builder {
  text-align: left;
}

.stream__header--builder .stream__head {
  margin-bottom: 1rem;
  margin-top: 0;
}

.stream__head {
  font-size: $fontXLarge;
  font-family: $sans;
  line-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: $baseSpace;
  color: $colorRed;
  margin-top: $baseSpace/2;
}

.stream__header--builder .stream__head {
  font-size: $fontLarge;
}

.stream__subhead {
  margin-bottom: $baseSpace;
  font-weight: 500;
}

.stream__label {
  font-family: $sansSC;
  font-weight: normal;
  font-size: $fontSmall;
  color: $colorRed;
  margin-top: $baseSpace;
  text-transform: lowercase;
}

.breadcrumb {
  color: $colorGrayLight;
  font-size: $fontSmall;
  font-family: $sansSC;
  text-transform: lowercase;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  margin-right: $baseSpace / 3;

  &:active, &:focus, &:hover {
    color: $colorGrayDark;
  }

  &__active {
    color: $colorGray;
  }

  &:after {
    content: '/';
    margin-left: $baseSpace / 3;
    color: $colorGray;
  }
  &:last-of-type {
    margin-right: 0;
    &:after {
      content: none;
    }
  }
}

.breadcrumb__link {
  color: $colorGray;
}

.stream__head__overview {
  color: $colorGray;
  font-weight: 400;
  font-size: $fontSmall;
  font-family: $sans;
  float: left;
  padding-left: 0rem;

  &:active, &:focus, &:hover {
    color: $colorRed;
  }
}

.clear {
  clear: both;
  border: 1px solid black;
  display: block;
  height: 1px;
  width: 25px;
}

.stream__transparent {
    z-index: $zIndex-9;
    background: rgba(0,0,0,.2);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.stream__head__dismiss {
    display: block;
    text-align: right;
    width: 100%;
    cursor: pointer;
}

.stream___head__menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
  flex-direction: row;
   -webkit-flex-direction: row;
  align-items: flex-start;
  font-size: $fontSmall;
  color: $colorGray;
  font-family: $sans;
  margin-right: -$baseSpace;
  max-width: $xlarge;
  width: 80vw;
  height: auto;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid red;
  padding: 2rem 2rem 4rem 2rem;
  position: fixed;
  z-index: $zIndex-10;
}

//Top navigation on interior pages
.menu-section {
  padding-top: .55rem;
  padding-right: $baseSpace;
  margin-bottom: $baseSpace / 3;
  min-width: 20rem;
  flex: 1 1 20%;
  -webkit-flex: 1 1 20%;
  @media screen and (max-width: 960px) {
    flex: 1 1 50%;
    -webkit-flex: 1 1 50%;
  }
  @media screen and (max-width: 720px) {
    flex: 1 1 100%;
    -webkit-flex: 1 1 100%;
  }
}

.menu-section__group-name {
  display: block;
  margin-right: 1rem;
  margin-bottom: .25rem;
  font-weight: normal;
  color: $colorGrayLight;
  font-family: $sansSC;
  text-transform: lowercase;
  width: 100%;
  border-bottom: 1px solid $colorGrayLight;
}

.menu-section__group {
  position: relative;
  display: block;
  width: 100%;
}

.menu-section__link {
  padding: .25rem;
  cursor: pointer;
  color: $colorGray;

  &:before {
    content: "\f111";
    position: relative;
    font-family: $icon;
    font-size: 8px;
    top: -3px;
    color: transparent;
    width: 10px;
  }

  &:hover {
    color: $colorGrayDark;
    &:before { color: $colorGrayLighter; }
  }

  &--active {
    color: $colorRed;
    font-weight: 700;
    @include offset-text;
    &:hover {
      color: $colorRed;
      &:before { color: $colorRed; }
    }
    &:before { color: $colorRed; }
  }
}

.menu-section__link--disabled {
  pointer-events: none;
  cursor: default;
}

.section__head.question__head {
  font-size: $fontXLarge;
  line-height: $fontXLarge;
  margin-bottom: $baseSpace / 2;
  font-family: $sansAlt;
  color: $colorRed;
}
