/**
*
* Stream header
*
**/

.stream__img--hero {
  max-width: 100%;
  width: 100%;
}

.stream__header {
  text-align: center;
  padding: $baseSpace*2 $baseSpace*2 0 $baseSpace*2;
  position: relative;
  z-index: $zIndex-1;
}

.stream__header--builder:before {
  content: '';
  background-color: $colorGreen;
  height: 80vw;
  width: 80vw;
  z-index: -1;
  position: absolute;
  top: -60vw;
  transform-origin: 0% 50%;
  transform: rotate(45deg) translate(0%, 50%);
}

.stream__head {
  font-size: $fontHuge;
  margin: 0 auto;
  letter-spacing: -5px;
}

.breadcrumb {
  display: inline-block;
  margin-right: $baseSpace / 2;
  &:after {
    content: '>';
    margin-left: $baseSpace / 2;
    color: $colorGray;
  }
  &:last-of-type {
    margin-right: 0;
    &:after {
      content: '';
    }
  }
}

.breadcrumb__link {
  color: $colorGray;
}
