/**
*
* Stream header
*
**/

.stream__img--hero {
  max-width: 100%;
  width: 100%;
  opacity: 0.75;
}

.stream__header {
  position: relative;
}

.stream__header--builder {
  text-align: left;
}

.stream__head {
  font-size: $fontXLarge;
  font-family: $sans;
  line-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: $baseSpace;
  color: $colorGrayDark;
}

.stream__header--builder .stream__head {
  font-size: $fontLarge;
}

.stream__subhead {
  margin-bottom: $baseSpace;
  font-weight: 500;
}

.stream__label {
  font-family: $sansSC;
  font-weight: normal;
  font-size: $fontSmall;
  color: $colorRed;
  margin-top: $baseSpace;
  text-transform: lowercase;
}

.breadcrumb {
  color: $colorGray;
  font-size: $fontSmall;
  font-family: $serif;
  cursor: pointer;
  display: inline-block;
  margin-right: $baseSpace / 3;

  &:active, &:focus, &:hover {
    color: $colorGrayDark;
  }

  &__active {
    color: $colorGray;
  }

  &:after {
    content: '/';
    margin-left: $baseSpace / 3;
    color: $colorGray;
  }
  &:last-of-type {
    margin-right: 0;
    &:after {
      content: none;
    }
  }
}

.breadcrumb__link {
  color: $colorGray;
}

.stream___head__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: $fontSmall;
  color: $colorGray;
  font-family: $sans;
  margin-right: -$baseSpace;
}

.menu-section {
  display: flex;
  border-top: 1px solid $colorGray;
  margin-right: $baseSpace;
  align-content: flex-start;
  justify-content: flex-start;
  padding-top: .55rem;
  margin-bottom: $baseSpace / 3;
  flex-grow: 1;
  width: 35%;
  min-width: 24rem;

  &__thin {
    width: auto;
    flex-grow: 0;
    min-width: 20rem;
  }
}

.menu-section__group-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 9rem;
  min-width: 9rem;
  max-width: 9rem;
  padding: .25rem;
  margin-right: 1rem;
  font-weight: normal;
  color: $colorGray;
  font-family: $serif;
}

.menu-section__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  min-width: 9.5rem;
  max-width: 24rem;
}

.menu-section__link {
  flex-grow: 0;
  display: flex;
  width: 10.5rem;
  padding: .25rem;
  cursor: pointer;
  color: $colorGray;
  &:hover {
    color: $colorGrayDark;
  }
  &--active {
    color: $colorBlack;
    font-weight: 900;
  }
}

.question__head {
  font-size: $fontXLarge;
  line-height: $fontXLarge;
  margin-bottom: $baseSpace / 2;
  font-family: $sansAlt;
}
