/**
*
* Stream section
*
**/

.stream__section {
  margin-bottom: $baseSpace * 3;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.section__header {
  padding-top: $baseSpace;
  margin-bottom: $baseSpace;
}

.section__head {
  font-size: $fontLarge;
  line-height: $fontLarge;
  margin-bottom: $baseSpace/2;
  font-family: $sansAlt;
  -moz-osx-font-smoothing: grayscale;
  color: #FFCD00;
}

.section__head--spacey {
  margin-bottom: $baseSpace;
}

// Builder
.stream__section--builder--body {
  background: $colorGreen;
}

.section__subhead {
  margin-bottom: $baseSpace/2;
  line-height: 120%;
  vertical-align: bottom;
}

.section__p {
  max-width: 65rem;
  margin-bottom: $baseSpace;
  color: white;
}

.stream__section__wrap {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 8rem;
}

