/**
*
* Stream section
*
**/

.stream__section {
  padding: $baseSpace*3;
  z-index: $zIndex-2;
  position: relative;
}

.section__header {
  margin-bottom: $baseSpace;
}

.section__head {
  font-size: $fontXLarge;
  line-height: $fontXLarge;
  padding-bottom: $baseSpace / 2;
  font-family: $sansAlt;
}

.section__intro {
  width: 66.66%;
  margin-bottom: $baseSpace;
}

// Builder
.stream__section--builder--body {
  background: $colorGreen;
}


// Recirc
.stream__section--recirc {
  margin: 0;
  padding: $baseSpace*3;
  background: $colorBrown300;
  text-align: center;
}

.section__head--recirc {
  text-align: center;
  margin-bottom: $baseSpace;
}

