/**
*
* View Switcher (profile to graph builder and back again)
*
**/

.switcher {
  width: $sidebarWidth;
  text-align: right;
  position: absolute;
  left: 0;
}

.switcher__item {
  border-bottom: 1px solid $colorBlack;
  padding: $fontSmall 0 $fontSmall $baseSpace*1.5;
  &:last-of-type {
    border: none;
    padding-bottom: 0;
  }
}

.switcher__item__link {
  transition: color $animationTime $animationEasing;
  color: $colorGray;
  font-size: $fontSmall;
  display: block;
  font-family: $sans;
  font-weight: 300;
  &:hover {
    color: $colorGrayDark;
  }
}

.switcher__item--is--active {
  color: $colorBlack;
}
