/**
*
* Tabmod
*
**/

.tabmod__tab {
  display: inline-block;
  padding: $baseSpace/2 $baseSpace;
  cursor: pointer;
  outline: 0;
}

.tabmod__card {
  padding: $baseSpace * 2;
  border: 1px solid $colorBrown500;
  display: none;
}

.tabmod__card--is--active {
  padding: $baseSpace*1.5;
  display: block;
}

.tabmod__tab--is--active {
  border: 1px solid $colorBrown500;
  background: $colorBrown200;
  border-bottom-width: 0;
  margin-bottom: -0.2rem;
  padding-bottom: 1.4rem;
  .tab__link {
    color: $colorGrayDark;
  }
}

.tab__link {
  display: inline-block;
  color: $colorGrayLight;
  font-size: $fontSmall;
  font-family: $sans;
  font-weight: 300;
}
