/**
*
* Table Summaries
* This is the one with the dot plots and spark lines
*
**/

.table--summaries {
  margin-bottom: $baseSpace;
  width: 100%;
  .table__header {
	  border-right: 1px solid #666;
      border-bottom: 1px solid #666;
  }
  .table__header:last-of-type {
	  border-right-width: 0;
  }
}

.table__header--summaries--dotplot {
  width: 500px;
}

.table__header--summaries--spark {
  width: 30%;
}

.table__header--summaries--value:before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: $odGreen;
  display: inline-block;
  margin-right: 1px;
  transform: rotate(45deg);
}

.table__cell--summaries {
  height: 70px; // A reminder that height acts as min-height for table cells
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
}
