/**
*
* Tabmod
*
**/

.tabmod__tab {
  display: inline-block;
  padding: $baseSpace/2 $baseSpace;
}

.tabmod__card {
  padding: $baseSpace * 2;
  border: 1px solid $colorBrown600;
  display: none;
}

.tabmod__card--is--active {
  padding: $baseSpace*1.5;
  display: block;
}

.tabmod__tab--is--active {
  border: 1px solid $colorBrown600;
  background: $colorBrown300;
  border-bottom-width: 0;
  margin-bottom: -0.2rem;
  padding-bottom: 1.4rem;
  .tab__link {
    color: $colorGrayDark;
  }
}

.tab__link {
  display: inline-block;
  color: $colorGray;
}
