/**
*
* Treemod
*
**/

.vizmod--treemod {
  width: 100%;
}

// Fuggin d3plus id styling let's get this shit outta here ASAP
#bg {
  display: none;
}

.d3plus_tree-map {
  margin: -10px 0 0 -10px;
  text {
    font-family: $serif !important;
    fill: $colorGrayDark !important;
    font-weight: 300 !important;
  }
  .d3plus_data {
    opacity: 1;
    // fill: $colorWhite;
    // stroke: $colorBrown300  !important;
    // stroke-width: 1.5px !important;
  }
}
