/**
*
* Viz Settings
*
**/

// Labels

.settings__input {
  // font-size: $fontSmall;
  margin: 0 0 $baseSpace/2 0;
  color: $colorBlack;
}

.settings__input__text {
  // font-size: $fontSmall;
  margin: 0 $baseSpace/4;
  color: $colorBlack;
}

// Select menu
.settings__input--select {
  background: $colorWhite;
}
