<main class="stream about">
  <article class="stream__article about__article">
    {{partial 'partials/about-switch'}}
    <header class="stream__header">
      <h2 class="stream__head">About</h2>
    </header>
    {{outlet}}
  </article>
</main>