<main class="stream downloads">
  <article class="stream__article stream__article--indent--left">
    <header class="stream__header">
      <h2 class="stream__head">Download the data</h2>
    </header>
    <section class="stream__section">
      <h3 class="section__head">Trade data (DIAN)</h3>
      <p class="section__p">The source of all data on exports and imports by department and municipality is DIAN’s Customs Data (DIAN is the National Tax and Customs Authority). It may not correspond to official export/import data because some transactions were not included due to lack of information on the industry of the exporter and/or the municipality or department of origin (or destination) of the export (or import). Colombian Customs data use a modified version of the Harmonized System (HS) classification, which is compatible with the International Standard Industrial Classification of All Economic Activities (ISIC).</p>
      <table class="table">
        <tr class="table__row">
          <th class="table__header"></th>
          <th class="table__header">National</th>
          <th class="table__header">Departments</th>
          <th class="table__header">Metropolitan areas</th>
          <th class="table__header">Municipalities</th>
        </tr>
        <tr class="table__row table__row--body">
          <td class="table__cell">Export values (2008–2013)</td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
        </tr>
        <tr class="table__row table__row--body">
          <td class="table__cell">Import values (2008–2013)</td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
        </tr>
        <tr class="table__row table__row--body">
          <td class="table__cell">Export complexity</td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
        </tr>
      </table>
    </section>

    <section class="stream__section">
      <h3 class="section__head">Industry data (PILA)</h3>
      <p class="section__p">PILA (the Integrated Report of Social Security Contributions), managed by the Ministry of Health) is the main source of industry data. It contains information on formal employment, wages and number of firms by municipality and industry. Colombia’s industry classification is a modified version of the International Standard Industrial Classification of All Economic Activities (ISIC).</p>
      <table class="table">
        <tr class="table__row">
          <th class="table__header"></th>
          <th class="table__header">National</th>
          <th class="table__header">Departments</th>
          <th class="table__header">Metropolitan areas</th>
          <th class="table__header">Municipalities</th>
        </tr>
        <tr class="table__row table__row--body">
          <td class="table__cell">Employment, wages and number of firms (2008–2013)</td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
        </tr>
        <tr class="table__row table__row--body">
          <td class="table__cell">Industry complexity</td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
        </tr>
      </table>
    </section>

    <section class="stream__section">
      <h3 class="section__head">Occupations data</h3>
      <p class="section__p">All data on occupations (entry wage levels by occupation and location, and occupational structure by industry) come from job vacancy announcements placed by firms in public and private Internet job sites during 2014. Occupations are classified according to the Occupational Information Network Numerical Index (ONET). The data were processed by Jeisson Arley Cárdenas Rubio, researcher of Universidad del Rosario, Bogotá, and Jaime Mauricio Montaña Doncel, Masters student at the Paris School of Economics.</p>
      <table class="table">
        <tr class="table__row">
          <th class="table__header"></th>
          <th class="table__header">National</th>
          <th class="table__header">Departments</th>
          <th class="table__header">Metropolitan areas</th>
          <th class="table__header">Municipalities</th>
        </tr>
        <tr class="table__row table__row--body">
          <td class="table__cell">Job vacancies and entry wages (2014)</td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">Not available</td>
          <td class="table__cell">Not available</td>
          <td class="table__cell">Not available</td>
        </tr>
      </table>
    </section>

    <section class="stream__section">
      <h3 class="section__head">Other data (DANE)</h3>
      <p class="section__p">DANE (the National Statistical Office) is the source of all data on GDP and population.</p>
      <table class="table">
        <tr class="table__row">
          <th class="table__header"></th>
          <th class="table__header">National</th>
          <th class="table__header">Departments</th>
          <th class="table__header">Metropolitan areas</th>
          <th class="table__header">Municipalities</th>
        </tr>
        <tr class="table__row table__row--body">
          <td class="table__cell">GDP and demographic variables</td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
          <td class="table__cell">
            <a href="" class="link--stream link--stream--inline--small">Download</a>
          </td>
        </tr>
      </table>
    </section>
  </article>
</main>
