<main class="stream downloads">
  <article class="stream__article">
    <header class="stream__header">
      <h2 class="stream__head">Download the data</h2>
    </header>
    <section class="stream__section">
      <h3 class="section__head">DANE: GDP and demographics</h3>
      <p class="section__p">DANE (the National Statistical Office) is the source of all data on GDP and population.</p>
      <a href="" class="btn btn--standalone btn--stream">GDP and population, departments</a>
      <a href="" class="btn btn--standalone btn--stream">GDP and population, cities</a>
      <a href="" class="btn btn--standalone btn--stream">GDP and population, municipalities</a>
    </section>

    <section class="stream__section">
      <h3 class="section__head">DIAN: exports and imports</h3>
      <p class="section__p">The source of all data on exports and imports by department and municipality is DIAN’s Customs Data (DIAN is the National Tax and Customs Authority). It may not correspond to official export/import data because some transactions were not included due to lack of information on the industry of the exporter and/or the municipality or department of origin (or destination) of the export (or import). Colombian Customs data use a modified version of the Harmonized System (HS) classification, which is compatible with the International Standard Industrial Classification of All Economic Activities (ISIC).</p>
      <a href="" class="btn btn--standalone btn--stream">Trade data, departments</a>
      <a href="" class="btn btn--standalone btn--stream">Trade data, cities</a>
      <a href="" class="btn btn--standalone btn--stream">Trade data, municipalities</a>
    </section>

    <section class="stream__section">
      <h3 class="section__head">Job vacancies: occupations</h3>
      <p class="section__p">All data on occupations (entry wage levels by occupation and location, and occupational structure by industry) come from job vacancy announcements placed by firms in public and private Internet job sites during 2014. Occupations are classified according to the Occupational Information Network Numerical Index (ONET). The data were processed by Jeisson Arley Cárdenas Rubio, researcher of Universidad del Rosario, Bogotá, and Jaime Mauricio Montaña Doncel, Masters student at the Paris School of Economics.</p>
      <a href="" class="btn btn--standalone btn--stream">Vacancy data, departments</a>
      <a href="" class="btn btn--standalone btn--stream">Occupation data, departments</a>
      <a href="" class="btn btn--standalone btn--stream">Occupation data, industries</a>
    </section>

    <section class="stream__section">
      <h3 class="section__head">PILA: industries</h3>
      <p class="section__p">PILA (the Integrated Report of Social Security Contributions), managed by the Ministry of Health) is the main source of industry data. It contains information on formal employment, wages and number of firms by municipality and industry. Colombia’s industry classification is a modified version of the International Standard Industrial Classification of All Economic Activities (ISIC).</p>
      <a href="" class="btn btn--standalone btn--stream">Industry data, departments</a>
      <a href="" class="btn btn--standalone btn--stream">Industry data, cities</a>
      <a href="" class="btn btn--standalone btn--stream">Industry data, municipalities</a>
    </section>

    <section class="stream__section">
      <h3 class="section__head">UN Comtrade: trade</h3>
      <p class="section__p">The product similarity space and the associated measures of complexity and distance by product are based on international trade data compiled by UN Comtrade and processed by the Center for International Development at Harvard University.</p>
    </section>
  </article>
</main>
