<article class="stream search">
  <header class="search__header">
  <h2 class="search__header__head">{{model.name_en}}</h2>
  </header>
  <section class="search__section">
  </section>
  <section class="results__section">
    {{d3plus-tree-map elementID="d3plus" data=productsData }}
  </section>
</article>


