<article class="stream search">
  <header class="search__header">
    <h2 class="search__header__head">Search</h2>
  </header>
  <section class="search__section">
    <div class="search__wrap">
      {{input
        class="search__field"
        placeholder="Type here to search for a location, product, industry or occupation"
        value=search
        enter='search'
      }}
      <button class="button search__button search__button--query"{{action 'search'}}>Search</button>
    </div>
  </section>
  <section class="results__section">
    {{#if query }}
      {{partial 'partials/results'}}
    {{/if}}
  </section>
</article>
