<article class="stream search">
  <header class="search__header">
    <h2 class="search__header__head">Search</h2>
  </header>
  <section class="search__section">
    <p class='search__copy search__copy--intro'>First, search for the location, product, industry or occupation that you're interested in.</p>
    <form class="search__wrap">
      {{input
        class="search__field"
        placeholder="Type here to search"
        value=search
        enter='search'
      }}
      <input class="btn search__btn fa fa-search" type="submit" value="&#xf002;" {{action 'search'}}>
    </form>
  </section>
  <section class="results__section">
    {{#if query }}
      {{partial 'partials/results'}}
    {{/if}}
  </section>
</article>
