<div class="ember-table-content-container" {{action 'sortByColumn' content}}>
  <span {{bind-attr class=":ember-table-content content.isAscending:table__header--is--ascending content.isDescending:table__header--is--descending"}}>
    {{t content.headerCellName}}
  </span>
</div>

