{{#if view.isModel }}
  {{#link-to view.profileRoute view.id
    tagName='span'
    class="ember-table-content"
  }}
    {{{view.cellContent}}}
  {{/link-to}}
{{else}}
  <span class="ember-table-content-custom">
    {{{view.cellContent}}}
  </span>
{{/if}}

