<nav class="switcher">
  <ul class="switcher__list">
    <li class="switcher__item">
      {{#link-to
        "visualization" entity_and_id source "multiples"
        current-when="visualization source graph_builder"
        class="switcher__item__link"
        activeClass="switcher__item--is--active"
        data-side-graph-builder-link=''
      }}
        {{ t 'pageheader.graph_builder_link' }}
      {{/link-to}}
    </li>
    <li class="switcher__item">
    {{#if hasProfile}}
      {{#link-to
        profileLink entityId
        class="switcher__item__link"
        activeClass="switcher__item--is--active"
        data-side-profile-link=''
      }}
        {{ t 'pageheader.profile_link' }}
      {{/link-to}}
    {{/if}}
    </li>
  </ul>
</nav>

